#popup {
  width: 785px;
}
.xans-myshop-orderhistorystorepickup table td img {
  max-height: 300px;
  max-width: 600px;
  width: auto;
  border: 1px solid var(--pallet-color-5);
  vertical-align: middle;
}
