.xans-mall-privacy .date {
  display: block;
  margin: 0 0 20px;
  font-size: 16px;
  color: var(--grayScale-N1);
}
.xans-mall-privacy .btnDate {
  font-size: 13px;
  line-height: 20px;
  color: var(--grayScale-N1);
  text-decoration: underline;
}
