.xans-layout-boardinfo {
  margin: 0 0 20px;
  padding: 0 0 20px;
  border-bottom: 1px solid var(--pallet-color-5);
}
.xans-layout-boardinfo h2 {
  height: 20px;
  color: var(--grayScale-N2);
  font-size: 12px;
}
.xans-layout-boardinfo li {
  padding: 9px;
}
.xans-layout-boardinfo li img {
  vertical-align: middle;
}
.xans-layout-boardinfo a {
  color: var(--grayScale-N2);
  text-decoration: none;
}
.xans-layout-boardinfo a:hover {
  color: #008bcc;
}
