/* 컬렉터 소개 */
.about_contents {
  margin-top: 3%;
  font-family: 'Noto Sans KR';
  text-shadow: 0 0px 3px #fff;
}
.about_contents .about_collector {
  display: flex;
  flex-flow: column;
}
.about_contents .about_collector > .about_title {
  text-align: center;
}
.about_contents .about_collector > .about_title > span {
  font-size: 20px;
  color: var(--main-color);
  font-weight: var(--font-weight-SemiBold);
}
.about_contents .about_collector > .about_title > h3 {
  font-size: 42px;
  color: var(--grayScale-N1);
  font-weight: var(--font-weight-Bold);
}
.about_contents .about_collector > .about_box {
  display: flex;
  position: relative;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 60px;
}
.about_contents .about_collector > .about_box:nth-child(odd) {
  flex-flow: row-reverse wrap;
}
.about_contents .about_collector > .about_box > .img_box {
  display: flex;
  justify-content: center;
  width: 50%;
  max-height: 75%;
}
.about_contents .about_collector > .about_box:not(:first-of-type) > .img_box > img {
  width: 80%;
}
.about_contents .about_collector > .about_box:not(:first-of-type) > .img_box.round_box > img {
  overflow: hidden;
  border-radius: 30px 30px;
  box-shadow: 3px 3px 7px 2px var(--grayScale-N1-op);
  -webkit-box-shadow: 3px 3px 7px 2px var(--grayScale-N1-op);
  -moz-box-shadow: 3px 3px 7px 2px var(--grayScale-N1-op);
}
.about_contents .about_collector > .about_box.content {
  padding: 3% 0;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 30px 30px;
  box-shadow: 1px 1px 7px 2px var(--grayScale-N1-op);
  -webkit-box-shadow: 1px 1px 7px 2px var(--grayScale-N1-op);
  -moz-box-shadow: 1px 1px 7px 2px var(--grayScale-N1-op);
}
.about_contents .about_collector > .about_box > .txt_box {
  width: 50%;
  box-sizing: border-box;
  padding: 0 7%;
}
.about_contents .about_collector > .about_box > .txt_box > .about-character-name {
  display: block;
  position: relative;
  color: var(--grayScale-N1);
  font-size: 36px;
  line-height: 2.4;
  font-family: 'MinervaMorden-Black';
}
.about_contents .about_collector > .about_box > .txt_box > h4 {
  color: var(--grayScale-N1);
  font-size: 20px;
  line-height: unset;
  padding-bottom: 10px;
}
.about_contents .about_collector > .about_box > .txt_box > p {
  word-break: break-all;
  font-size: 18px;
  color: var(--grayScale-N1);
  letter-spacing: 0.15px;
  line-height: 1.5;
  margin-top: 16px;
}
.about_contents .about_collector > .about_box > .txt_box > .about-introduce-number {
  color: var(--main-color);
  font-size: 60px;
}
.about_contents .about_collector > .about_box > .txt_box > .about-introduce-title {
  font-size: 28px;
  color: var(--grayScale-N1);
}
.about_contents .about_cs {
  display: flex;
  flex-flow: column;
  position: relative;
  margin-top: 120px;
}
/* .about_contents .about_cs::before {
  content: '';
  position: absolute;
  top: 20%;
  left: 50%;
  width: 1px;
  height: 120px;
  background: var(--grayScale-N1);
} */
.about_contents .about_cs > .about_cs_title {
  font-size: 24px;
  text-align: center;
  color: var(--main-color);
  font-weight: var(--font-weight-Medium);
  padding: 10% 0;
}
.about_contents .about_cs > .about_cs_contact {
  display: inline;
  text-align: center;
  margin: 0 auto;
  font-size: 24px;
  color: var(--grayScale-N1);
  font-weight: var(--font-weight-Bold);
  letter-spacing: 0.22px;
  border-bottom: 2px solid var(--grayScale-N1);
  padding-bottom: 2px;
}
.about_contents .about_cs > .about_cs_info_box {
  display: flex;
  flex-flow: row;
  padding: 3% 0 0 0;
  justify-content: center;
}
.about_contents .about_cs > .about_cs_info_box > li {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 240px;
}
.about_contents .about_cs > .about_cs_info_box > li .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  box-sizing: border-box;
  width: 90px;
  height: 90px;
  border-radius: 100%;
  background: var(--pallet-color-5);
}
.about_contents .about_cs > .about_cs_info_box > li .icon img {
  position: absolute;
}
.about_contents .about_cs > .about_cs_info_box dt {
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
  font-weight: var(--font-weight-Bold);
  color: var(--grayScale-N2);
  padding: 10px 0 0px 0;
}
.about_contents .about_cs > .about_cs_info_box dl {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  color: var(--grayScale-N3);
}

.xans-mall-company .info {
  border-top: 1px solid var(--grayScale-N1);
}
.xans-mall-company .map {
  border-top: 1px solid var(--grayScale-N1);
}
.xans-mall-company .xans-layout-footer {
  padding: 0;
}

.film_box {
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-size: contain;
  background-position: center;
  z-index: 0;
}
.film_bg {
  width: 100%;
  height: 100%;
  position: fixed;
  background-size: contain;
  background-position: center;
  background-image: url(/SkinImg/img/company/ufo_pattern.png);
  opacity: 0.1;
  z-index: 0;
}

.film_box .parallax-element {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateZ(0);
}
.film_box .gister-UFO {
  top: 100px;
  right: 100%;
  width: 20%;
  height: auto;
  z-index: 4;
  border-radius: 50%;
}
.film_box .gistar-UFO {
  top: 100px;
  left: 100%;
  width: 15%;
  height: auto;
  z-index: 3;
}
.film_box .gister-UFO > img,
.film_box .gistar-UFO > img {
  width: 100%;
  height: 100%;
}
.film_box .gister-UFO > img,
.film_box .gistar-UFO > img {
  display: block;
}
.film_box .gister-UFO > img.displayNone,
.film_box .gistar-UFO > img.displayNone {
  display: none;
}

/********************* Mobile / Tablet *********************/
@media (max-width: 1024px) {
  .about_contents .about_collector > .about_title > span {
    font-size: clamp(18px, 2.347vw, 20px);
  }
  .about_contents .about_collector > .about_title > h3 {
    font-size: clamp(36px, 4.694vw, 42px);
  }
  .about_contents .about_collector > .about_box > .txt_box > .about-introduce-number {
    font-size: clamp(48px, 6.258vw, 60px); /* 767px */
  }
  .about_contents .about_collector > .about_box > .txt_box > .about-introduce-title {
    font-size: clamp(24px, 3.129vw, 28px); /* 767px */
  }
  .about_contents .about_collector > .about_box > .txt_box > .about-company-name {
    font-size: clamp(30px, 3.911vw, 36px); /* 767px */
  }
  .about_contents .about_collector > .about_box > .txt_box > h4 {
    font-size: clamp(18px, 2.347vw, 20px); /* 767px */
  }
  .about_contents .about_collector > .about_box > .txt_box > p {
    font-size: clamp(16px, 2.086vw, 18px); /* 767px */
  }
  .xans-mall-company .info {
    padding: 30px 16px 50px;
    line-height: 22px;
  }
  .xans-mall-company .map {
    padding: 30px 0;
  }
}
@media (max-width: 767px) {
  .about_contents .about_collector > .about_box {
    width: 90% !important;
  }
  .about_contents .about_collector > .about_box > .txt_box {
    padding: 0;
  }
  .about_contents .about_collector > .about_box {
    display: flex;
    position: relative;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }
  .about_contents .about_collector > .about_box.content {
    padding: 0;
  }
  .about_contents .about_collector > .about_box.content {
    padding: 5%;
  }
  .about_contents .about_collector > .about_box > .txt_box > .about-company-name::before {
    top: 54%;
    right: -4%;
    transform: translateY(-50%);
    width: 34px;
    height: 16px;
  }
  .about_contents .about_collector > .about_title > span {
    font-size: clamp(16px, 2.105vw, 18px);
  }
  .about_contents .about_collector > .about_title > h3 {
    font-size: clamp(28px, 5.833vw, 36px);
  }
  .about_contents .about_collector > .about_box > .txt_box > .about-introduce-number {
    font-size: clamp(36px, 7.5vw, 48px); /* 480px */
  }
  .about_contents .about_collector > .about_box > .txt_box > .about-introduce-title {
    font-size: clamp(18px, 3.75vw, 24px); /* 480px */
  }
  .about_contents .about_collector > .about_box > .txt_box > .about-company-name {
    font-size: clamp(30px, 3.947vw, 36px); /* 480px */
  }
  .about_contents .about_collector > .about_box > .txt_box > h4 {
    font-size: clamp(18px, 2.368vw, 20px); /* 480px */
  }
  .about_contents .about_collector > .about_box > .txt_box > p {
    font-size: clamp(16px, 2.105vw, 18px); /* 480px */
  }
  .about_contents .about_collector > .about_box > .txt_box > .about-character-name {
    font-size: clamp(30px, 3.947vw, 36px); /* 480px */
    line-height: 1.2;
  }
  .about_contents .about_collector > .about_box {
    margin-top: 100px !important;
  }
  .about_contents .about_collector > .about_box:nth-of-type(1) {
    margin-top: unset !important;
  }
  .about_contents .about_cs > .about_cs_title {
    font-size: clamp(20px, 5.556vw, 24px) !important;
    padding: 20% 0 !important;
  }
  .about_contents .about_cs > .about_cs_contact {
    font-size: clamp(20px, 5.556vw, 24px) !important;
  }
  .about_contents .about_cs > .about_cs_info_box {
    flex-flow: column !important;
    justify-content: space-evenly !important;
    align-content: center !important;
  }
  .about_contents .about_cs > .about_cs_info_box > li {
    width: 100% !important;
    padding: 3% 0;
  }
  .about_contents .about_cs > .about_cs_info_box dt {
    font-size: clamp(16px, 4.444vw, 18px);
  }
  .about_contents .about_cs > .about_cs_info_box dl {
    font-size: clamp(14px, 3.889vw, 16px);
  }
  .about_contents .about_collector > .about_box {
    flex-flow: column !important;
  }
  .about_contents .about_collector > .about_box > .img_box {
    width: 100% !important;
  }
  .about_contents .about_collector > .about_box > .img_box > img {
    width: 100% !important;
  }
  .about_contents .about_collector > .about_box > .txt_box {
    width: 100% !important;
    margin: 3%;
  }
}
@media (max-width: 480px) {
  .about_contents .about_collector > .about_box > .txt_box > h4 {
    font-size: clamp(16px, 4.444vw, 18px); /* 480px */
  }
  .about_contents .about_collector > .about_box > .txt_box > p {
    font-size: clamp(14px, 3.889vw, 16px); /* 480px */
  }
}
