.about_contents {
  margin-top: 55px;
}
.film_box {
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 0;
}
.film_bg {
  width: 100%;
  height: 100%;
  position: fixed;
  background-size: contain;
  background-position: center;
  background-image: url(/SkinImg/img/film.png);
  opacity: 0.2;
  z-index: 0;
}
/* 컬렉터 소개 */
.about_contents {
  font-family: 'Noto Sans KR';
}
.about_contents .about_collector {
  display: flex;
  flex-flow: column;
}
.about_contents .about_collector > .about_title {
  text-align: center;
  margin-bottom: 55px;
}
.about_contents .about_collector > .about_title > span {
  font-size: 20px;
  color: var(--main-color);
  font-weight: var(--font-weight-SemiBold);
}
.about_contents .about_collector > .about_title > h3 {
  font-size: 42px;
  color: var(--grayScale-N1);
  font-weight: var(--font-weight-Bold);
}
.about_contents .about_collector > .about_box {
  display: flex;
  position: relative;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 60px;
}
.about_contents .about_collector > .about_box:nth-child(odd) {
  flex-flow: row-reverse wrap;
}
.about_contents .about_collector > .about_box > .img_box {
  display: flex;
  justify-content: center;
  width: 50%;
  max-height: 75%;
}
.about_contents .about_collector > .about_box > .img_box > img {
  width: 80%;
  border-radius: 30px 30px;
  box-shadow: 3px 3px 7px 2px var(--grayScale-N1-op);
  -webkit-box-shadow: 3px 3px 7px 2px var(--grayScale-N1-op);
  -moz-box-shadow: 3px 3px 7px 2px var(--grayScale-N1-op);
}
.about_contents .about_collector > .about_box > .txt_box {
  width: 50%;
  box-sizing: border-box;
  padding: 0 7%;
}
.about_contents .about_collector > .about_box > .txt_box > .about-company-name {
  display: inline;
  position: relative;
  color: var(--grayScale-N1);
  font-size: 36px;
  line-height: 2.4;
  z-index: 2;
}
.about_contents .about_collector > .about_box > .txt_box > .about-company-name::before {
  content: '';
  position: absolute;
  top: 54%;
  right: -3%;
  transform: translateY(-50%);
  width: 37px;
  height: 20px;
  background-color: var(--pallet-color-2);
  z-index: -1;
}
.about_contents .about_collector > .about_box > .txt_box > h4 {
  color: var(--grayScale-N2);
  font-size: 20px;
  line-height: unset;
  padding-bottom: 10px;
}
.about_contents .about_collector > .about_box > .txt_box > p {
  font-size: 18px;
  color: var(--grayScale-N1);
  letter-spacing: 0.15px;
  line-height: 1.5;
  margin-top: 16px;
}
.about_contents .about_collector > .about_box > .txt_box > .about-introduce-number {
  color: var(--main-color);
  font-size: 60px;
}
.about_contents .about_collector > .about_box > .txt_box > .about-introduce-title {
  font-size: 28px;
  color: var(--grayScale-N1);
}
.about_contents .about_cs {
  display: flex;
  flex-flow: column;
  position: relative;
}
/* .about_contents .about_cs::before {
  content: '';
  position: absolute;
  top: 20%;
  left: 50%;
  width: 1px;
  height: 120px;
  background: var(--grayScale-N1);
} */
.about_contents .about_cs > .about_cs_title {
  font-size: 24px;
  text-align: center;
  color: var(--main-color);
  font-weight: var(--font-weight-Medium);
  padding: 10% 0;
}
.about_contents .about_cs > .about_cs_contact {
  display: inline;
  text-align: center;
  margin: 0 auto;
  font-size: 24px;
  color: var(--grayScale-N1);
  font-weight: var(--font-weight-Bold);
  letter-spacing: 0.22px;
  border-bottom: 2px solid var(--grayScale-N1);
  padding-bottom: 2px;
}
.about_contents .about_cs > .about_cs_info_box {
  display: flex;
  flex-flow: row;
  padding: 3% 0 0 0;
  justify-content: center;
}
.about_contents .about_cs > .about_cs_info_box > li {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 240px;
}
.about_contents .about_cs > .about_cs_info_box > li .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  box-sizing: border-box;
  width: 90px;
  height: 90px;
  border-radius: 100%;
  background: var(--pallet-color-5);
}
.about_contents .about_cs > .about_cs_info_box > li .icon img {
  position: absolute;
}
.about_contents .about_cs > .about_cs_info_box dt {
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
  font-weight: var(--font-weight-Bold);
  color: var(--grayScale-N2);
  padding: 10px 0 0px 0;
}
.about_contents .about_cs > .about_cs_info_box dl {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  color: var(--grayScale-N3);
}

.xans-mall-company .info {
  border-top: 1px solid var(--grayScale-N1);
}
.xans-mall-company .map {
  border-top: 1px solid var(--grayScale-N1);
}
.xans-mall-company .xans-layout-footer {
  padding: 0;
}

/********************* Mobile / Tablet *********************/
@media all and (max-width: 1024px) {
  .xans-mall-company .info {
    padding: 30px 16px 50px;
    line-height: 22px;
  }
  .xans-mall-company .map {
    padding: 30px 0;
  }
}
/********************* PC *********************/
@media all and (min-width: 1025px) {
  .xans-mall-company .info {
    padding: 30px 0 0;
    line-height: 22px;
  }
  .xans-mall-company .map {
    margin: 0 0 50px;
    padding: 30px 0 0;
  }
}
