.xans-member-checkpassword .info {
  margin: 0 0 20px;
}
.xans-member-checkpassword .info strong {
  color: var(--grayScale-N1);
}
.xans-member-checkpassword .password input {
  width: 100%;
  max-width: 293px;
}
