/** 아키테이블_style 210907 **/
@charset "utf-8";
html {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}
#wrap {
  position: relative;
  width: 100%;
  margin: 0 auto;
  min-height: 550px;
  overflow: hidden;
}
body {
  min-width: 100%;
  padding: 0;
  margin: 0;
  max-width: 1480px;
}
#container {
  width: 100%;
  zoom: 1;
  position: relative;
  margin: 0 auto;
}
#container #contents {
  display: flex;
  position: relative;
  flex-flow: column;
  box-sizing: border-box;
  margin: 0 auto;
  float: none;
  padding: 0;
}
.cboth {
  clear: both;
  zoom: 1;
}
.cboth:after {
  content: ' ';
  display: block;
  clear: both;
}
audio,
canvas,
img,
svg,
video {
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
}
button {
  border: 0;
  outline: none;
}
img {
  -webkit-perspective: 1;
}
input,
select,
textarea,
body,
code,
button {
  font-family: 'Montserrat', 'Noto Sans KR', Arial, sans-serif !important;
}
a:hover {
  text-decoration: none;
}
.display_mobile_only {
  display: none;
}
.display_tablet_only {
  display: none;
}
.display_pc_only {
  display: block;
}
.layer_shadow {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.layer_shadow.on {
  opacity: 1;
  visibility: visible;
}
.not_scroll {
  height: 100%;
  min-height: 100%;
  overflow: hidden !important;
  touch-action: none;
}

/* 최상단 배너 */
.main_top_banner {
  position: relative;
  z-index: 997;
  background-color: var(--main-color);
  overflow: hidden;
  width: 100%;
  display: none;
  padding: 20px 0;
}
.main_top_banner .top_banner_box_inner {
  max-width: 1480px;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.main_top_banner .top_banner_box_inner .top_banner_text {
  flex: 1;
}
.main_top_banner.ez-align-left .top_banner_box_inner .top_banner_text {
  text-align: left;
}
.main_top_banner.ez-align-center .top_banner_box_inner .top_banner_text {
  text-align: center;
}
.main_top_banner.ez-align-right .top_banner_box_inner .top_banner_text {
  text-align: right;
}
.main_top_banner.ez-align-center .top_banner_box_inner .top_banner_close {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}
.main_top_banner .top_banner_box_inner .top_banner_text a {
  font-size: 15px;
  font-weight: var(--font-weight-Light);
  color: #3e3329;
  line-height: 1.6;
}
.main_top_banner .top_banner_box_inner .top_banner_close {
  font-size: 12px;
  font-weight: var(--font-weight-Light);
  color: #3e3329;
  line-height: 1;
  display: flex;
  align-items: center;
  margin-left: 30px;
}
.main_top_banner .top_banner_box_inner .top_banner_close input[type='checkbox'] {
  width: 15px;
  height: 15px;
  background-size: 15px;
}
.main_top_banner .top_banner_box_inner .top_banner_close label {
  margin-left: 5px;
  cursor: pointer;
}
.main_top_banner .top_banner_box_inner .top_banner_close .icon {
  cursor: pointer;
}

/* 상단 */
#header {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background: var(--grayScale-W);
  position: relative;
  z-index: 998;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-bottom: 1px solid var(--pallet-color-5);
}
#header .inner {
  max-width: 1480px;
  width: 90%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
#header .inner .toparea {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .inner .toparea .toparea_shoppinginfo {
  display: flex;
  align-items: center;
}
#header .inner .toparea .toparea_shoppinginfo .xans-layout-multishoplist {
  position: relative;
  z-index: 10;
  width: 60px;
  height: 50px;
  margin-right: 10px;
}
#header .inner .toparea .toparea_shoppinginfo .xans-layout-multishoplist .toggle {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0;
  color: var(--grayScale-N1);
  line-height: 1;
  font-size: 13px;
}
#header .inner .toparea .toparea_shoppinginfo .xans-layout-multishoplist .toggle .icon {
  border-color: var(--grayScale-N1);
  width: 5px;
  height: 5px;
  margin-left: 10px;
}
#header .inner .toparea .toparea_shoppinginfo .xans-layout-multishoplist.show .toggle .icon.icoArrowBottom {
  margin-top: 4px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
#header .inner .toparea .toparea_shoppinginfo .xans-layout-multishoplist > ul {
  visibility: hidden;
  height: 0;
  padding: 0 10px;
  border: 1px solid var(--grayScale-N3);
  background: var(--grayScale-W);
  margin-top: -5px;
}
#header .inner .toparea .toparea_shoppinginfo .xans-layout-multishoplist > ul li {
  position: relative;
  padding: 0 0 20px;
  margin: 0;
}
#header .inner .toparea .toparea_shoppinginfo .xans-layout-multishoplist > ul li a {
  display: block;
  overflow: hidden;
  font-size: 13px;
  font-weight: var(--font-weight-Light);
  color: var(--grayScale-N3);
  white-space: nowrap;
  text-decoration: none;
  text-overflow: ellipsis;
}
#header .inner .toparea .toparea_shoppinginfo .xans-layout-multishoplist > ul li:last-child {
  padding: 0;
}
#header .inner .toparea .toparea_shoppinginfo .xans-layout-multishoplist > ul li a:hover {
  color: var(--main-color);
}
#header .inner .toparea .toparea_shoppinginfo .xans-layout-multishoplist.show > ul {
  position: absolute;
  top: 100%;
  left: -35px;
  visibility: visible;
  height: auto;
  margin-top: 5px;
  padding: 28px 35px;
  border: none;
  box-shadow: 5px 3px 20px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 5px 3px 20px rgba(0, 0, 0, 0.05);
}
#header .inner .toparea .toparea_shoppinginfo .xans-layout-shoppinginfo {
  display: flex;
  flex-shrink: 0;
}
#header .inner .toparea .toparea_shoppinginfo .xans-layout-shoppinginfo li {
  margin: 0 10px 0 0;
}
#header .inner .toparea .toparea_shoppinginfo .xans-layout-shoppinginfo li a {
  color: var(--grayScale-N2);
  font-size: 13px;
}
#header .inner .toparea .toparea_shoppinginfo .xans-layout-shoppinginfo li a strong {
  color: var(--main-color);
  font-size: 13px;
  font-weight: var(--font-weight-SemiBold);
}
#header .inner .toparea .toparea_shoppinginfo .xans-layout-shoppinginfo li a:hover,
#header .inner .toparea .toparea_shoppinginfo .xans-layout-shoppinginfo li a:hover strong {
  color: var(--grayScale-N1);
}
#header .inner .toparea .toparea_state {
  display: flex;
}
#header .inner .toparea .toparea_state a {
  margin-left: 15px;
  font-size: 13px;
  line-height: 1;
  color: var(--grayScale-N1);
  display: flex;
  align-items: center;
}
#header .inner .toparea .toparea_state .toparea_state_board {
  position: relative;
}
#header .inner .toparea .toparea_state .toparea_state_board > a {
  display: flex;
  align-items: center;
}
#header .inner .toparea .toparea_state .toparea_state_board > a .icon {
  width: 5px;
  height: 5px;
  margin-left: 10px;
}
#header .inner .toparea .toparea_state .toparea_state_board.on .icon {
  margin-top: 4px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
#header .inner .toparea .toparea_state .toparea_state_board > ul {
  display: none;
  position: absolute;
  top: 30px;
  right: -33px;
  z-index: 1;
  padding: 28px 35px 8px;
  border: 0px;
  background: var(--grayScale-W);
  box-shadow: 5px 3px 20px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 5px 3px 20px rgba(0, 0, 0, 0.05);
}
#header .inner .toparea .toparea_state .toparea_state_board.on > ul {
  display: block;
}
#header .inner .toparea .toparea_state .toparea_state_board > ul li {
  position: relative;
  padding-bottom: 20px;
}
#header .inner .toparea .toparea_state .toparea_state_board > ul li a {
  display: block;
  overflow: hidden;
  font-size: 13px;
  line-height: 1;
  color: var(--grayScale-N1);
  font-weight: var(--font-weight-Light);
  white-space: nowrap;
  text-decoration: none;
  text-overflow: ellipsis;
  padding: 0;
  margin: 0;
}
#header .inner .toparea .toparea_state .toparea_state_board > ul li a:hover {
  color: var(--main-color);
}

/* 상단 메뉴 */
#header .inner .top_nav_box {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header .inner .top_nav_box div[data-ez-module='menu-main/1'] {
  /* width: 40%; */
  display: flex;
  width: 80%;
  justify-content: space-around;
}
#header .inner .top_nav_box .top_category {
  display: flex;
  flex-wrap: wrap;
}
#header .inner .top_nav_box .top_category > ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#header .inner .top_nav_box .top_category > ul > li {
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 24px; /* width 1280px */
  position: relative;
}
#header .inner .top_nav_box .top_category > ul > li > a {
  font-size: clamp(14px, 1.094vw, 16px); /* width 1280px */
  font-weight: var(--font-weight-Medium);
  display: block;
  line-height: 78px;
  color: var(--grayScale-N2);
  white-space: nowrap;
}

#header .inner .top_nav_box .top_category > ul > li > a:hover {
  color: var(--grayScale-N1);
}
#header .inner .top_nav_box .top_category > ul > li > a:after {
  content: '';
  position: relative;
  display: block;
  bottom: 24px;
  width: 100%;
  height: 2px;
  background-color: var(--main-color);
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.45, 0.46, 0.05, 0.96);
  -o-transition: transform 0.3s cubic-bezier(0.45, 0.46, 0.05, 0.96);
  transition: transform 0.3s cubic-bezier(0.45, 0.46, 0.05, 0.96);
  transition: transform 0.3s cubic-bezier(0.45, 0.46, 0.05, 0.96),
    -webkit-transform 0.3s cubic-bezier(0.45, 0.46, 0.05, 0.96);
}
#header .inner .top_nav_box .top_category > ul > li:hover > a:after {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.45, 0.46, 0.05, 0.96);
  -o-transition: transform 0.5s cubic-bezier(0.45, 0.46, 0.05, 0.96);
  transition: transform 0.5s cubic-bezier(0.45, 0.46, 0.05, 0.96);
  transition: transform 0.5s cubic-bezier(0.45, 0.46, 0.05, 0.96),
    -webkit-transform 0.5s cubic-bezier(0.45, 0.46, 0.05, 0.96);
}
#header .inner .top_nav_box .top_category .sub_cate01 {
  display: none;
}
#header .inner .top_nav_box .top_category li.on .sub_cate01,
#header .inner .top_nav_box .top_category .sub-category {
  display: block;
  position: absolute;
  top: 80px;
  left: -5px;
  z-index: 10;
  margin: 0;
  width: auto;
  min-width: 120px;
  padding: 20px 0;
  background-color: var(--grayScale-W);
  box-shadow: 5px 3px 20px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 5px 3px 20px rgba(0, 0, 0, 0.05);
}
#header .inner .top_nav_box .top_category .sub_cate01 ul,
#header .inner .top_nav_box .top_category .sub-category ul {
  display: none;
  position: absolute;
  top: -20px;
  left: 100%;
  z-index: 11;
  margin: 0;
  width: auto;
  min-width: 120px;
  padding: 20px 0;
  background-color: var(--grayScale-W);
  box-shadow: 5px 3px 20px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 5px 3px 20px rgba(0, 0, 0, 0.05);
}
#header .inner .top_nav_box .top_category .sub_cate01 li.on > ul,
#header .inner .top_nav_box .top_category .sub-category li.on > ul {
  display: block;
}
#header .inner .top_nav_box .top_category .sub_cate01 li,
#header .inner .top_nav_box .top_category .sub-category li {
  position: relative;
  padding: 0 35px 0 15px;
}
#header .inner .top_nav_box .top_category .sub_cate01 li.noChild,
#header .inner .top_nav_box .top_category .sub-category li.noChild {
  padding: 0 15px 0 15px;
}
#header .inner .top_nav_box .top_category .sub_cate01 li:after,
#header .inner .top_nav_box .top_category .sub-category li:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 25px;
  margin-top: -3px;
  background: url('/SkinImg/img/arrow.png') no-repeat;
  z-index: 10;
  width: 4px;
  height: 7px;
}
#header .inner .top_nav_box .top_category .sub_cate01 li.noChild:after,
#header .inner .top_nav_box .top_category .sub-category li.noChild:after {
  display: none;
}
#header .inner .top_nav_box .top_category .sub_cate01 li a,
#header .inner .top_nav_box .top_category .sub-category li a {
  font-size: 16px;
  color: var(--grayScale-N1);
  line-height: 1;
  font-weight: var(--font-weight-Medium);
  display: block;
  padding: 10px 20px 10px 20px;
  white-space: nowrap;
}
#header .inner .top_nav_box .top_category .sub_cate01 li:hover > a,
#header .inner .top_nav_box .top_category .sub-category li:hover > a {
  color: var(--main-color);
}
#header .inner .top_nav_box .top_category .top_community .sub-category {
  display: none !important;
}
#header .inner .top_nav_box .top_logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  width: 20%;
  height: 80px;
}
#header .inner .top_nav_box .top_logo a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  line-height: 1;
}
#header .inner .top_nav_box .top_logo img {
  max-width: 400px;
  max-height: 80px;
  object-fit: contain;
  padding: 8%;
}
#header .inner .top_nav_box .top_mypage {
  display: flex;
  flex-shrink: 0;
  height: 80px;
  width: 20%;
  justify-content: flex-end;
}
#header .inner .top_nav_box .top_mypage li {
  display: flex;
  height: 100%;
  position: relative;
}
#header .inner .top_nav_box .top_mypage li img {
  width: 28px;
}
#header .inner .top_nav_box .top_mypage li:nth-child(3) a {
  padding-right: 0;
}
#header .inner .top_nav_box .top_mypage a {
  font-size: 16px;
  font-weight: var(--font-weight-Regular);
  line-height: 1;
  color: var(--grayScale-N1);
  padding: 0 16px;
  border: 0;
  display: flex;
  align-items: center;
  position: relative;
}
#header .inner .top_nav_box .top_mypage a.xans-layout-orderbasketcount .count {
  position: absolute;
  top: 40px;
  right: 8px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--main-color);
  color: var(--grayScale-W);
  text-align: center;
  line-height: 1;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}
#header .inner .top_nav_box .top_mypage a.eNavFold {
  display: none;
}
#header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 998;
  margin: 0 auto;
  border-bottom: 1px solid var(--pallet-color-5) !important;
  -webkist-transform: translateY(-70px);
  -ms-transform: translateY(-70px);
  transform: translateY(-70px);
}

/* 카테고리가 대량일때 //주석 22.06.17
#header .inner .top_nav_box .top_category > ul > li {display:none;}
#header .inner .top_nav_box .top_category .cate_more {position:absolute;bottom:20px;right:20px;background:url('/SkinImg/img/cate_more_on.png') no-repeat;width:25px;height:29px;cursor:pointer;opacity:0.3;-webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s;  transition: all 0.3s;}
#header .inner .top_nav_box .top_category .cate_more:hover {opacity:0.8;}
#header .inner .top_nav_box .top_category .cate_more.on {background:url('/SkinImg/img/cate_more_off.png') no-repeat;}
*/

/* 상단검색 레이어 */
#header.fixed .inner .xans-layout-searchheader {
  top: 70px;
}
.xans-layout-searchheader {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--grayScale-W);
  display: none;
  z-index: 10;
}
.xans-layout-searchheader fieldset {
  width: calc(100% - 100px);
  height: calc(100% - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid var(--grayScale-N4);
}
.xans-layout-searchheader fieldset .wrap_search_box {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
}
.xans-layout-searchheader fieldset .hot_keyword li {
  display: inline-block;
  margin-right: 25px;
}
.xans-layout-searchheader fieldset .hot_keyword li a {
  display: block;
  font-size: 20px;
  color: var(--grayScale-N4);
  box-sizing: border-box;
  line-height: 1;
  border: 1px solid #9c9c9c;
  border-radius: 10px;
  margin: 0 0 14px;
  padding: 14px 25px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  white-space: nowrap;
}
.xans-layout-searchheader fieldset .hot_keyword li a:hover {
  color: var(--grayScale-N1);
  border: 1px solid var(--grayScale-N1);
  background-color: var(--grayScale-W);
}
.xans-layout-searchheader fieldset .top_search_box {
  display: flex;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #acacac;
}
.xans-layout-searchheader fieldset .top_search_box #keyword {
  width: 100%;
  flex: 1;
  font-size: 32px;
  font-weight: var(--font-weight-Light);
  height: 100%;
  color: var(--grayScale-N4);
  border: none;
  padding: 0 0 0 18px;
}
.xans-layout-searchheader fieldset .top_search_box .btnSearch {
  position: relative;
  width: 40px;
  background: none;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 150%;
  font-size: 1px;
  color: transparent;
  line-height: 1px;
  margin-right: 18px;
}
.xans-layout-searchheader fieldset .top_search_box .btnSearch img {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 15px;
}
.xans-layout-searchheader fieldset .top_search_box .btnClose img {
  width: 80px;
}
.xans-layout-searchheader fieldset .btnClose {
  position: absolute;
  top: 80px;
  right: 80px;
}
.xans-layout-searchheader fieldset .autoDrop {
  display: none;
  border: 1px solid #565960;
  position: absolute;
  width: 187px;
  text-align: left;
  background: var(--grayScale-W);
  z-index: 20;
  overflow: hidden;
  overflow-y: auto;
  max-height: 100px;
}
.xans-layout-searchheader fieldset .autoDrop li a {
  display: block;
  padding: 6px 10px;
  font-size: 11px;
  color: var(--grayScale-N1);
  font-family: GulimChe, Gulim;
}
.xans-layout-searchheader fieldset .autoDrop li a:hover,
.xans-layout-searchheader fieldset .autoDrop li.selected a {
  text-decoration: none;
  color: var(--grayScale-W);
  background: #a1a4ae;
}
.xans-layout-searchheader fieldset .search_find_product {
  margin: 0 0 64px;
  font-size: 40px;
  font-weight: var(--font-weight-Light);
  color: var(--grayScale-N3);
  letter-spacing: -0.005em;
}
.xans-layout-searchheader fieldset .recom_search {
  margin: 62px 0 30px;
  font-size: 24px;
  font-weight: var(--font-weight-Light);
  color: var(--grayScale-N3);
  letter-spacing: -0.005em;
}
.xans-layout-searchheader fieldset .top_search_box .btnDelete {
  display: none;
  cursor: pointer;
  font-size: 0;
  width: 20px;
  height: 45px;
  background: url('//img.echosting.cafe24.com/skin/mobile_ko_KR/layout/btn_delete.png') no-repeat 0 center;
  background-size: 20px;
  margin: 0 5px;
}

/* 하단 */
.footer_margin {
  margin-top: 100px;
}
#footer {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background: var(--footer-bg);
  overflow: hidden;
}
#footer .inner {
  width: 90%;
  margin: 0 auto;
  padding: 5% 0;
  color: var(--grayScale-N1);
}
#footer .inner .inner_t {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-flow: column nowrap;
}
#footer .inner .inner_t .info_middle {
  display: flex;
  flex-flow: row wrap;
}
#footer .inner .inner_t .info_middle .bt_info_flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}
#footer .inner .inner_b {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin-top: 40px;
}
/* 하단 로고 */
#footer .inner .inner_t .info_top .bt_logo {
  font-size: 40px;
  display: flex;
  width: fit-content;
}
#footer .inner .inner_t .info_top .bt_logo a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#footer .inner .inner_t .info_top .bt_logo img {
  max-width: 400px;
  max-height: 60px;
}

/* 하단 쇼핑몰정보 */
#footer .inner .inner_t .info_middle .bt_info {
  width: 50%;
  letter-spacing: -0.05em;
  box-sizing: border-box;
}
#footer .inner .inner_t .info_middle .bt_info .bt_title {
  font-size: 14px;
  font-weight: var(--font-weight-Bold);
  color: var(--grayScale-N1);
  line-height: 24px;
  margin-bottom: 10px;
}
#footer .inner .inner_t .info_middle .bt_info .bt_info_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-size: 15px;
  font-weight: var(--font-weight-Regular);
  color: var(--grayScale-N1);
  line-height: 2;
}
#footer .inner .inner_t .info_middle .bt_info .bt_info_list a {
  font-size: 15px;
  font-weight: var(--font-weight-Light);
  color: var(--grayScale-N5);
}
#footer .inner .inner_t .info_middle .bt_info .bt_info_list > div {
  margin: 0 10px 0 0;
  display: flex;
  flex-flow: row nowrap;
}
#footer .inner .inner_t .info_middle .bt_info .bt_info_list > div span {
  letter-spacing: 0.05em;
  color: var(--grayScale-N4);
}
#footer .inner .inner_t .info_middle .bt_info .bt_info_list > div span:first-child {
  font-weight: var(--font-weight-SemiBold);
  color: var(--grayScale-N5);
  margin-right: 7px;
}

/* 하단 메뉴 */
#footer .inner_b .bt_util {
  width: fit-content;
}
#footer .inner_b .bt_util ul {
  display: flex;
  justify-content: flex-end;
}

#footer .inner_b .bt_util ul li {
  display: flex;
  align-items: center;
  margin-right: 25px;
}
#footer .inner_b .bt_util ul li:last-of-type {
  margin-right: 0px;
}
#footer .inner_b .bt_util ul li a {
  display: block;
  font-size: 15px;
  font-weight: var(--font-weight-Light);
  color: var(--grayScale-N4);
  white-space: nowrap;
}
#footer .inner_b .bt_util ul li:nth-of-type(3) a {
  font-weight: var(--font-weight-SemiBold);
  color: var(--grayScale-N5);
}
#footer .info_top {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  margin: 5% 0 3%;
  box-sizing: border-box;
}
#footer .info_middle .bt_title {
  font-size: 16px;
  font-weight: var(--font-weight-Bold);
  color: var(--grayScale-N5);
  margin-bottom: 10px;
  line-height: 1.6;
}
#footer .info_top .cs_center_txt,
#footer .info_top .bank_txt {
  font-size: 15px;
  font-weight: var(--font-weight-Light);
  color: var(--grayScale-N4);
  line-height: 24px;
  letter-spacing: 0.05em;
}
#footer .info_top .sns_icon {
  display: flex;
  flex-flow: row nowrap;
  width: fit-content;
}
#footer .info_top .sns_icon a {
  display: flex;
  align-items: center;
  margin-right: 30px;
}
#footer .info_top .sns_icon a:last-of-type {
  margin-right: 0;
}
#footer .info_top .sns_icon a img {
  width: 30px;
  height: 30px;
}
#footer .info_middle .bt_info span {
  font-size: 15px;
  font-weight: var(--font-weight-Light);
  color: var(--grayScale-N4);
  line-height: 2;
  letter-spacing: -0.05em;
  display: block;
}

#footer .info_middle .wrap_cs {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  width: 50%;
  box-sizing: border-box;
}
#footer .info_middle .wrap_cs span {
  font-size: 15px;
  font-weight: var(--font-weight-Light);
  color: var(--grayScale-N4);
  line-height: 1.5;
  letter-spacing: -0.05em;
  display: block;
}
#footer .info_top .cs_center_txt .cs_center_title {
  font-size: 15px;
  font-weight: var(--font-weight-Light);
  color: var(--grayScale-N1);
  line-height: 2;
  letter-spacing: -0.05em;
}
#footer .inner .inner_t .info_middle .bt_tel span {
  font-size: 24px;
  line-height: 1;
  font-weight: var(--font-weight-Medium);
  margin-bottom: 8px;
}
#footer .info_top .cs_center_txt > div > div {
  margin-bottom: 10px;
}
#footer .info_top .pdr10 {
  padding-right: 10px;
}
#footer .info_top .bank_txt .bt_title_sub > strong,
#footer .info_top .bt_mail > strong,
#footer .info_top .bt_time > strong {
  font-weight: var(--font-weight-SemiBold);
  color: var(--grayScale-N5);
  display: block;
}
#footer .info_top .bt_tel > strong {
  font-weight: var(--font-weight-SemiBold);
  color: var(--grayScale-N5);
}

/* 하단 에스크로 */
#footer .inner .inner_b .bt_escrow a {
  font-size: 0px;
  display: flex;
  align-items: center;
}
#footer .inner .inner_b .bt_escrow a span {
  font-size: 12px;
  font-weight: var(--font-weight-Light);
  color: var(--grayScale-N4);
  line-height: 1.6;
  width: 350px;
  word-break: keep-all;
}
#footer .inner .inner_b .bt_escrow a img {
  margin-right: 10px;
  display: none;
}
#footer .inner .inner_b .bt_escrow a img.on {
  display: block;
}

/* 하단 카피라이트 */
#footer .inner .inner_b .bt_copyright {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: var(--font-weight-Light);
  color: var(--grayScale-N4);
  line-height: 3;
  letter-spacing: -0.025em;
  text-align: left;
}

/* 상품 더보기 */
.main_image_text_gallery_more,
.more {
  text-align: center;
  margin: 0 auto;
  position: relative;
  width: 100%;
}
.main_image_text_gallery_more .main_image_text_gallery_more_btn,
.more .btnMore {
  background-color: var(--grayScale-W);
  display: inline-block;
  min-width: auto;
  padding: 23px 165px;
  border: 2px solid var(--pallet-color-1);
  text-align: center;
  transition: all 400ms;
  font-size: 20px;
  font-weight: var(--font-weight-Light);
  letter-spacing: -0.025em;
  color: var(--grayScale-N1);
}
.main_image_text_gallery_more .main_image_text_gallery_more_btn:hover,
.more .btnMore:hover {
  color: var(--grayScale-N1);
  background-color: var(--grayScale-W);
  border: 2px solid #cacaca;
}

/* 우측 퀵배너 */
#right_quick {
  position: fixed;
  bottom: 30px;
  right: 70px;
  z-index: 10;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  width: fit-content;
  height: 270px;
}
#right_quick > div {
  /* opacity: 0.8; */
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
#right_quick > div:hover {
  /* opacity: 0.5; */
}
#right_quick > div img {
  width: 65px;
}
#right_quick > div .kakao-chat__btn {
  display: flex;
  position: relative;
  height: 65px;
  width: 65px;
}
#right_quick > div .kakao-chat__btn::before {
  content: '톡채널';
  width: 0px;
  display: flex;
  position: absolute;
  align-items: center;
  top: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  width: 0px;
  height: 0px;
  font-size: 0px;
  text-indent: 0px;
  opacity: 0;
  transition: 0.3s;
}
#right_quick > div .kakao-chat__btn:hover::before {
  font-weight: var(--font-weight-Bold);
  align-items: center;
  font-size: 16px;
  text-indent: 18px;
  width: 124px;
  height: 53px;
  border-radius: 26.5px;
  top: 50%;
  right: 6px;
  transform: translate(00%, -50%);
  color: var(--grayScale-N1);
  background-color: var(--grayScale-W);
  box-shadow: var(--quick-icon-shadow);
  opacity: 1;
}
#right_quick > div {
  height: 25%;
}
#right_quick > div:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 10px; */
}
#right_quick > div:first-child a {
  display: flex;
  justify-content: center;
  width: 50px;
  height: 50px;
  background: var(--main-color);
  border-radius: 50%;
}
#right_quick > div:first-child img {
  width: 30px;
  height: 100%;
}
/* 아티스트 비디오 */
/* .artist-video-direction {
  position: absolute;
  top: 10%;
  right: 0%;
  transform: translate(0%, -50%);
  box-sizing: border-box;
  z-index: 1;
}
.artist-video-direction .material-symbols-outlined {
  font-size: 48px;
  color: var(--pallet-color-4);
  font-variation-settings: 'FILL' 0, 'wght' 100, 'GRAD' 0, 'opsz' 24;
}
.artist-video-direction .material-symbols-outlined.active {
  color: var(--pallet-color-1);
  cursor: pointer;
  font-variation-settings: 'FILL' 0, 'wght' 100, 'GRAD' 0, 'opsz' 24;
}
.artist-video-direction .material-symbols-outlined.active:hover {
  font-variation-settings: 'FILL' 1, 'wght' 100, 'GRAD' 0, 'opsz' 24;
} */
.artist-video-box {
  position: relative;
  height: calc(var(--item-row-3-width-pc-max1480) / 3 * 2 + 84px);
  margin: 0 auto;
  overflow-x: scroll;
  overflow-y: hidden;
  box-sizing: border-box;
}
.artist-video-list {
  display: flex;
  position: absolute;
  flex-flow: row nowrap;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
}
.artist-video-list li {
  width: fit-content !important;
  margin-right: var(--item-margin-right-pc);
  box-sizing: border-box;
}
.artist-video-list li:last-of-type {
  margin-right: 0px;
}

.artist-video-thumbnail {
  position: relative;
  width: var(--item-row-3-width-pc-max1480);
  height: calc(var(--item-row-3-width-pc-max1480) / 3 * 2);
  cursor: pointer;
  overflow: hidden;
}
.artist-video-thumbnail::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--grayScale-N1-op);
  z-index: 5;
  transition: 0.3s;
}
.artist-video-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: 0.3s;
}
.artist-video-thumbnail:hover::before {
  background-color: transparent;
}
.artist-video-thumbnail:hover img {
  transform: scale(1.1);
}
.artist-video-description {
  display: flex;
  align-items: center;
  position: relative;
  height: 48px;
  margin: 12px 0;
}
.artist-video-description img {
  height: 100%;
  border-radius: 20%;
  object-fit: contain;
}
.artist-video-description a {
  text-indent: 10px;
  color: var(--main-color);
  font-weight: var(--font-weight-SemiBold);
}
.modal-artist-video {
  display: none;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100vw + 4px);
  height: calc(100vh + 4px);
  z-index: 999;
  background-color: var(--grayScale-N1-opa);
}
.modal-artist-video .close-modal {
  position: absolute;
  top: 1%;
  right: 2%;
  font-size: 48px;
  cursor: pointer;
  color: var(--grayScale-N5);
}
.modal-artist-video.on {
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-artist-video.on iframe {
  width: 50%;
  height: 75%;
}
.play_btn.material-symbols-outlined {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  color: var(--grayScale-N5);
  font-size: 48px;
  font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
}

.artist-video-thumbnail:hover .play_btn.material-symbols-outlined {
  color: var(--grayScale-N5);
  font-variation-settings: 'FILL' 1, 'wght' 300, 'GRAD' 0, 'opsz' 24;
}
.toss-payments-banner {
  display: flex;
  justify-content: flex-end;
  max-width: 1480px;
  width: 100%;
  margin: 60px auto 0;
}
.toss-payments-banner .banner-box {
  cursor: pointer;
}
/* 리뷰 커스터마이징 */
.review-box {
}
.review-box .review-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.review-box .review-list > li {
  margin-right: var(--item-margin-right-pc);
  width: var(--item-row-5-width-pc-max1480);
  height: fit-content;
  margin-bottom: 40px;
}
.review-box .review-list > li:nth-of-type(5n) {
  margin-right: 0;
}
.review-box .review-list > li .review-img img {
  height: var(--item-row-5-width-pc-max1480);
  object-fit: cover;
  border-radius: 5% 5%;
}
.review-box .review-list > li .review-txt {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  height: calc(var(--item-row-5-width-pc-max1480) * 0.32);
  padding: 0 2%;
}
.review-box .review-list > li .review-txt .review-txt__body {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.review-box .review-list > li .review-txt .review-txt__head h4 {
  font-size: var(--gallery-title-font-size);
  color: var(--gallery-title-color);
  font-weight: var(--gallery-title-font-weight);
}
.review-box .review-list > li .review-txt .review-txt__head p {
  display: -webkit-box;
  font-size: var(--gallery-span-font-size);
  color: var(--gallery-span-color);
  font-weight: var(--gallery-span-font-weight);
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
}
@media all and (max-width: 1680px) {
  /* 최상단 배너 */
  .main_top_banner .top_banner_box_inner .top_banner_text a {
    font-size: calc(13px + (15 - 13) * ((100vw - 370px) / (1680 - 370)));
  }
}
@media (max-width: calc(1480px / 9 * 10)) {
  .review-box .review-list > li {
    width: var(--item-row-5-width-pc);
  }
  .review-box .review-list > li .review-img img {
    height: var(--item-row-5-width-pc);
  }
  .review-box .review-list > li .review-txt {
    height: calc(var(--item-row-5-width-pc) * 0.32);
  }
}
@media (max-width: 1480px) {
  .review-box .review-list > li {
    width: var(--item-row-4-width-pc);
  }
  .review-box .review-list > li:nth-of-type(5n) {
    margin-right: var(--item-margin-right-pc);
  }
  .review-box .review-list > li:nth-of-type(4n) {
    margin-right: 0;
  }
  .review-box .review-list > li .review-img img {
    height: var(--item-row-4-width-pc);
  }
  .review-box .review-list > li .review-txt {
    height: calc(var(--item-row-4-width-pc) * 0.32);
  }
  /* 하단 고객센터 , 계좌번호 , SNS */
  #footer .info_top .bank_txt,
  #footer .info_top .cs_center_txt {
    margin-right: 55px;
  }
}

@media (max-width: 1280px) {
  .review-box .review-list > li,
  .review-box .review-list > li:nth-of-type(5n) {
    margin-right: var(--item-margin-right-portable);
  }

  .review-box .review-list > li .review-txt .review-txt__head h4 {
    font-size: clamp(16px, 1.565vw, 18px);
  }
  .review-box .review-list > li .review-txt .review-txt__head p {
    font-size: clamp(14px, 1.825vw, 16px);
  }
  .artist-video-box {
    margin: 0 auto;
    overflow-x: scroll;
    height: calc(var(--item-row-2-width-portable) / 3 * 2 + 84px);
  }
  .artist-video-list li {
    margin-right: var(--item-margin-right-portable);
  }
  .artist-video-thumbnail {
    width: var(--item-row-2-width-portable);
    height: calc(var(--item-row-2-width-portable) / 3 * 2);
    cursor: unset;
  }
  .artist-video-direction {
    display: none;
  }
  #footer .inner .inner_t .info_middle .bt_info_flex {
    margin-bottom: 30px;
  }
  #footer .inner_b .bt_util ul li a {
    display: block;
    font-size: clamp(14px, 1.825vw, 15px);
    font-weight: var(--font-weight-Light);
    color: var(--grayScale-N4);
    line-height: 2;
    white-space: nowrap;
  }
  #footer .inner_b .bt_util ul li:nth-of-type(3) a {
    font-size: clamp(14px, 1.825vw, 15px);
    font-weight: var(--font-weight-Medium);
  }
  #footer .inner .inner_t .info_middle .bt_info .bt_info_list > div span:first-child {
    font-weight: var(--font-weight-Medium) !important;
  }
  #footer .info_middle .bt_info span {
    font-size: clamp(14px, 1.825vw, 15px);
  }
  #footer .info_middle .bt_title {
    /* font-weight: var(--font-weight-SemiBold);
    font-size: clamp(15px, 1.956vw, 16px); */
  }
  #footer .info_middle .wrap_cs span {
    font-size: clamp(14px, 1.825vw, 15px);
  }

  #footer .inner .inner_t .info_middle .bt_tel span {
    font-size: clamp(20px, 2.608vw, 24px);
    margin-bottom: 6px;
  }
  .RW {
    /* display: none !important */
  }
  .RTMB {
    display: block !important;
  }
  .RTMI {
    display: inline-block !important;
  }
  #capp-shop-new-product-optionselect-layer {
    position: fixed !important;
    top: 0 !important;
    right: 0 !important;
    left: auto !important;
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
  }
  .bottom-nav {
    z-index: 901;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 52px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.3s linear, padding-bottom 0.3s linear;
    transition: transform 0.3s linear, padding-bottom 0.3s linear;
  }
  .bottom-nav--hide {
    -webkit-transform: translate3d(0, 60px, 0);
    transform: translate3d(0, 60px, 0);
  }
  .bottom-nav__tabBar {
    display: flex;
    justify-content: space-between;
    height: 52px;
    padding: 14px 26px 0;
    box-sizing: border-box;
    background: var(--grayScale-W);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.3s linear, padding-bottom 0.3s linear;
    transition: transform 0.3s linear, padding-bottom 0.3s linear;
  }
  .bottom-nav__tabBar li a,
  .bottom-nav__tabBar li button {
    position: relative;
    display: block;
    white-space: nowrap;
    width: 24px;
    height: 24px;
    font-size: 1px;
    line-height: 1px;
    color: transparent;
    text-indent: 150%;
    vertical-align: top;
    background: none;
  }
  .bottom-nav__tabBar li button:focus {
    outline: 0;
  }
  .bottom-nav__tabBar .count {
    display: block;
    position: absolute;
    top: 12px;
    right: -5px;
    width: 16px;
    height: 16px;
    font-size: 11px;
    color: var(--grayScale-W);
    text-align: center;
    text-indent: 0;
    line-height: 15px;
    border-radius: 50%;
    background: var(--grayScale-N1);
  }
  .bottom-nav__top {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: -72px;
    right: 16px;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
  }
  .bottom-nav__top a {
    display: block;
    background-color: var(--grayScale-W);
    border: 1px solid #dadada;
    box-sizing: border-box;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
  }
  .bottom-nav__top a.quick_search svg {
    width: 20px;
  }
  .bottom-nav__top--show {
    display: none;
    opacity: 1;
    visibility: visible;
  }
  .bottom-nav__top span {
    display: block;
    margin: 4px 0 0;
  }
  .button--fixed .bottom-nav__tabBar {
    display: none;
  }
  .button--fixed #header.fixed .navigation {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: var(--grayScale-W);
  }
  .xans-layout-mobileaction {
    /* position: absolute;
    top: 45px;
    left: 4%; */
    padding: 5% 0;
  }
  .xans-layout-mobileaction a {
    overflow: hidden;
    display: block;
    text-indent: -150%;
    color: transparent;
    font-size: 1px;
    line-height: 1px;
    white-space: nowrap;
  }

  .display_tablet_only {
    display: block !important;
  }
  .display_mobile_only {
    display: none !important;
  }
  .display_pc_only {
    display: none !important;
  }
  #container #contents {
    width: 90%;
    margin: 0 auto;
  }

  /* 최상단 배너 */
  .main_top_banner {
    padding: 10px 0;
  }
  .main_top_banner.close_none {
    height: 50px;
  }
  .main_top_banner .top_banner_box_inner {
    height: 100%;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .main_top_banner .top_banner_box_inner .top_banner_text {
    width: 100%;
    flex: none;
  }
  .main_top_banner .top_banner_box_inner .top_banner_close {
    padding-top: 16px;
  }
  .main_top_banner.ez-align-center .top_banner_box_inner .top_banner_close {
    position: static;
  }

  /* 상단 메뉴 */
  #header .inner .top_nav_box {
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  #header .inner .top_nav_box .top_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    order: 2;
    height: 65px;
    z-index: 998;
    flex-basis: 80%;
    overflow: hidden;
  }
  #header .inner .top_nav_box .top_logo a {
    font-size: 25px;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: auto;
    overflow: hidden;
    text-align: center;
  }
  #header .inner .top_nav_box .top_logo img {
    max-width: 200px;
    max-height: 65px;
    object-fit: contain;
  }
  #header .inner .top_nav_box .top_category {
    display: none;
    order: 3;
    margin: 0 -4%;
    width: 108%;
    border-top: 1px solid var(--pallet-color-5);
    overflow: hidden;
    overflow-x: auto;
  }
  #header .inner .top_nav_box .top_category > ul {
    display: flex;
    align-items: center;
    height: 45px;
    margin-left: 4%;
  }
  #header .inner .top_nav_box .top_category > ul > li {
    height: 45px;
    display: flex;
    align-items: center;
    padding: 0;
    margin-right: 20px;
  }
  #header .inner .top_nav_box .top_category > ul > li > a {
    font-size: 14px;
    font-weight: var(--font-weight-Regular);
    display: block;
    line-height: 43px;
    color: var(--grayScale-N1);
  }
  #header .inner .top_nav_box .top_category > ul#top_community {
    margin-left: 0;
  }
  #header .inner .top_nav_box .top_category .sub-category-box {
    display: none !important;
  }
  #header .inner .top_nav_box .top_mypage {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 65px;
    position: absolute;
    left: 0;
    top: 0;
  }
  #header .inner .top_nav_box .top_mypage li {
    display: none;
  }
  #header .inner .top_nav_box .top_mypage .top_search {
    display: flex;
    right: 0;
    order: 2;
  }
  #header .inner .top_nav_box .top_mypage .top_search .eSearch {
    display: flex;
    right: 0;
    order: 2;
  }
  #header .inner .top_nav_box .top_mypage .mo_nav {
    display: block;
    order: 1;
  }
  #header .inner .top_nav_box .mo_search {
    order: 3;
  }
  #header .inner .top_nav_box .top_mypage a {
    display: block;
    font-size: 0;
    margin: 0;
    padding: 0px;
  }
  #header .inner .top_nav_box .top_mypage a.xans-layout-orderbasketcount {
    display: flex;
    position: relative;
    height: 100%;
  }
  #header .inner .top_nav_box .top_mypage a.xans-layout-orderbasketcount span {
    position: absolute;
    top: 30%;
    right: -6px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--grayScale-N1);
    color: var(--grayScale-W);
    text-align: center;
    line-height: 1;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #header .inner .top_nav_box .top_mypage a.xans-layout-orderbasketcount svg {
    display: flex;
  }
  #header .inner .top_nav_box .top_mypage a.eNavFold {
    display: flex;
    height: 100%;
  }
  #header .inner .top_nav_box .top_mypage a.eNavFold .icon.icoNav {
    width: 24px;
    box-shadow: 0 20px 0;
    margin: -19px auto 0;
  }
  #header .inner .top_nav_box .top_mypage a.eNavFold .icon.icoNav:before {
    width: 24px;
    top: 10px;
  }
  #header.fixed {
    -webkist-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }

  /* 하단 */
  .footer_margin {
    margin-top: 50px;
  }
  #footer {
    padding: 0;
    margin: 0 auto;
  }
  #footer .inner {
    margin: 0 auto;
    padding: 0;
  }
  #footer .inner .inner_t {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    /* flex-direction: column-reverse; */
  }
  #footer .inner .inner_b {
    margin-top: 0px;
    /* flex-direction: column; */
  }

  /* 하단 로고 */
  #footer .inner .inner_t .info_top .bt_logo {
    font-size: 25px;
    flex-shrink: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: flex;
  }
  #footer .inner .inner_t .info_top .bt_logo a {
    justify-content: flex-start;
  }
  #footer .inner .inner_t .info_top .bt_logo img {
    max-width: 320px;
    max-height: 48px;
  }

  /* 하단 전화번호 */
  #footer .inner .inner_t .info_middle .bt_tel {
    font-size: 13px;
  }
  #footer .inner .inner_t .info_middle .bt_tel .bt_txt01 {
    margin-bottom: 15px;
  }
  #footer .inner .inner_t .info_middle .bt_tel .bt_txt02 span {
    display: block;
    margin: 0;
  }

  /* 하단 쇼핑몰정보 */
  #footer .inner .inner_t .info_middle .bt_info {
    line-height: 1.8;
  }
  #footer .inner .inner_t .info_middle .bt_info .bt_info_list,
  #footer .inner .inner_t .info_middle .bt_info .bt_info_list a {
    font-size: 14px;
  }

  /* 하단 메뉴 */
  #footer .inner_b .bt_util ul {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  /* 하단 고객센터 , 계좌번호 , SNS */
  #footer .info_top .cs_center_txt {
    margin-bottom: 30px;
  }
  #footer .info_top .bank_txt {
    margin-bottom: 30px;
  }
  #footer .info_top .bank_txt span {
    display: inline !important;
  }
  #footer .info_top .sns_icon .bt_title {
    width: 100%;
  }
  #footer .info_top .cs_center_txt,
  #footer .info_top .bank_txt {
    font-size: 14px;
  }

  /* 하단 에스크로 , 카피라이트 */
  #footer .inner .inner_b .bt_escrow {
    bottom: 0px;
    left: 0;
  }
  #footer .inner .inner_b .bt_escrow a {
    font-size: 0px;
  }
  #footer .inner .inner_b .bt_escrow a img {
    width: 25px;
  }
  #footer .inner .inner_b .bt_copyright {
    font-size: 13px;
    text-align: left;
  }

  /* 상단검색 레이어 */
  #header.fixed .inner .xans-layout-searchheader,
  .xans-layout-searchheader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1005;
  }
  .xans-layout-searchheader fieldset {
    min-inline-size: auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
    width: calc(100% - 50px);
    height: calc(100% - 50px);
  }
  .xans-layout-searchheader fieldset .search_title {
    height: 60px;
    line-height: 60px;
    font-size: 13px;
    color: var(--grayScale-N1);
  }
  .xans-layout-searchheader fieldset .top_search_box {
    width: 85%;
    height: 45px;
    margin-bottom: 7px;
  }
  .xans-layout-searchheader fieldset .top_search_box #keyword {
    height: 45px;
    font-size: 16px;
    padding: 0 0 0 0px;
  }
  .xans-layout-searchheader fieldset .top_search_box .btnClose {
    position: absolute;
    top: 17px;
    right: 4%;
  }
  .xans-layout-searchheader fieldset .top_search_box .btnClose img {
    width: 50px;
  }
  .xans-layout-searchheader fieldset .xans-search-hotkeyword {
    width: 100%;
    overflow: hidden;
    overflow-x: auto;
    padding-bottom: 20px;
  }
  .xans-layout-searchheader fieldset .xans-search-hotkeyword ul {
    width: 85%;
    margin: 0 auto;
  }
  .xans-layout-searchheader fieldset .hot_keyword li {
    margin-right: 7px;
  }
  .xans-layout-searchheader fieldset .hot_keyword li a {
    font-size: 12px;
    padding: 15px 17px 12px 17px;
  }
  .xans-layout-searchheader fieldset .search_find_product {
    margin: 0 0 44px 0px;
    font-size: 28px;
    width: 85%;
  }
  .xans-layout-searchheader fieldset .wrap_search_box {
    align-items: center;
    margin-top: 100px;
  }
  .xans-layout-searchheader fieldset .top_search_box .btnSearch {
    width: 25px;
  }
  .xans-layout-searchheader fieldset .top_search_box .btnSearch img {
    bottom: 10px;
  }
  .xans-layout-searchheader fieldset .recom_search {
    width: 85%;
    margin: 30px auto 20px auto;
    font-size: 20px;
  }
  .xans-layout-searchheader fieldset .top_search_box .btnDelete {
    display: block;
  }

  /* 상품 더보기 */
  .main_image_text_gallery_more .main_image_text_gallery_more_btn,
  .more .btnMore {
    background-color: var(--grayScale-W);
    display: inline-block;
    min-width: auto;
    padding: 15px 80px;
    border: 1px solid #dadada;
    box-sizing: border-box;
    text-align: center;
    transition: all 400ms;
    font-size: 16px;
    color: var(--grayScale-N1);
  }
  .main_image_text_gallery_more .main_image_text_gallery_more_btn:hover,
  .more .btnMore:hover {
    border: 1px solid #dadada;
    box-sizing: border-box;
  }

  /* 우측 퀵배너 */
  #right_quick {
    right: 30px;
    bottom: 60px;
  }
  #right_quick img {
    width: 50px;
  }
}

/********************* Tablet *********************/
@media (max-width: 1024px) {
  .review-box .review-list > li {
    margin-right: var(--item-margin-right-portable);
    width: var(--item-row-3-width-portable);
  }
  .review-box .review-list > li:nth-of-type(4n),
  .review-box .review-list > li:nth-of-type(5n) {
    margin-right: var(--item-margin-right-portable);
  }
  .review-box .review-list > li:nth-of-type(3n) {
    margin-right: 0;
  }
  .review-box .review-list > li .review-img img {
    height: var(--item-row-3-width-portable);
  }
  .review-box .review-list > li .review-txt {
    height: calc(var(--item-row-3-width-portable) * 0.32);
  }
  .board-list-number {
    display: none !important;
  }

  #footer .inner .inner_b {
    margin-bottom: 8%;
  }
  .artist-video-box::-webkit-scrollbar,
  .main_3dan_banner.ez-mobile-layout-slide::-webkit-scrollbar,
  .ec-base-product .prdList::-webkit-scrollbar {
    display: none;
  }
  .artist-video-box::-webkit-scrollbar-thumb,
  .main_3dan_banner.ez-mobile-layout-slide::-webkit-scrollbar-thumb,
  .ec-base-product .prdList::-webkit-scrollbar-thumb {
    display: none;
  }
  .artist-video-box::-webkit-scrollbar-track,
  .main_3dan_banner.ez-mobile-layout-slide::-webkit-scrollbar-track,
  .ec-base-product .prdList::-webkit-scrollbar-track {
    display: none;
  }
}
/********************* Mobile *********************/
@media all and (max-width: 767px) {
  .review-box .review-list > li {
    width: var(--item-row-2-width-portable);
  }

  .review-box .review-list > li:nth-of-type(3n),
  .review-box .review-list > li:nth-of-type(4n),
  .review-box .review-list > li:nth-of-type(5n) {
    margin-right: var(--item-margin-right-portable);
  }
  .review-box .review-list > li:nth-of-type(2n) {
    margin-right: 0;
  }
  .review-box .review-list > li .review-img img {
    height: var(--item-row-2-width-portable);
  }
  .review-box .review-list > li .review-txt {
    height: calc(var(--item-row-2-width-portable) * 0.32);
  }
  /* responsive class */
  .main_video .wrap_video_box {
    padding: 10% 20%;
  }
  .modal-artist-video.on iframe {
    width: 75%;
    height: 75%;
  }
  .modal-artist-video .close-modal {
    top: 3%;
    right: 6%;
    font-size: 60px;
  }
  #footer .inner .inner_t .info_middle .bt_info_flex {
    margin-bottom: 0;
  }
  #footer .info_middle .wrap_cs {
    flex-flow: column-reverse wrap;
    justify-content: flex-start;
  }
  .artist-video-thumbnail:hover::before {
    background-color: var(--grayScale-N1-op);
  }
  .artist-video-thumbnail:hover img {
    transform: scale(1);
  }
  .artist-video-thumbnail:hover .play_btn.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
  }
  .artist-video-direction {
    display: none;
  }
  .artist-video-box::-webkit-scrollbar {
    /* 스크롤바의 너비 */
    display: none;
  }
  .artist-video-box::-webkit-scrollbar-thumb {
    display: none;
  }
  .artist-video-box::-webkit-scrollbar-track {
    display: none;
  }
  .RTB {
    display: none !important;
  }
  .RMB {
    display: block !important;
  }
  .RMI {
    display: inline-block !important;
  }
  .display_mobile_only {
    display: block !important;
  }
  .display_pc_only {
    display: none !important;
  }

  /* 상품 더보기 */
  .main_image_text_gallery_more .main_image_text_gallery_more_btn,
  .more .btnMore {
    padding: 10px 65px;
    font-size: 13px;
  }

  /* 상단검색 레이어 */
  .xans-layout-searchheader fieldset .top_search_box .btnSearch {
    margin: 0;
  }

  /* 하단 푸터 */
  #footer .info_top {
    margin: 8% 0 5%;
  }
  #footer .inner .inner_t .info_middle .bt_info {
    width: 60%;
  }
  #footer .inner .inner_t .info_middle .wrap_cs {
    width: 40%;
  }
  #footer .inner .footer_right {
    margin: 40px 0 0;
  }
  #footer .inner .wrap_cs .cs_center_txt {
    margin-bottom: 25px;
  }
  #footer .inner .wrap_cs .bank_txt {
    margin-bottom: 25px;
  }
  #footer .inner .inner_t .info_top .bt_logo img {
    max-width: 280px;
    max-height: 40px;
  }
  #footer .inner .bt_tel .bt_txt01 {
    font-size: 16px;
  }
  #footer .inner .bt_copyright {
    font-size: 12px;
  }
  #footer .inner .bt_escrow a span {
    font-size: 11px;
    width: auto;
  }
  #footer .info_top .sns_icon a {
  }
  #footer .inner_b .bt_util ul li {
    margin-right: 12px;
  }
  #footer .inner_b .bt_util ul li a {
    font-size: clamp(12px, 2.5vw, 14px); /* 480px */
  }
  #footer .info_middle .bt_info span {
    font-size: clamp(12px, 2.5vw, 14px); /* 480px */
  }
  #footer .info_middle .bt_title {
  }
  #footer .info_middle .wrap_cs span {
    font-size: clamp(12px, 2.5vw, 14px); /* 480px */
  }

  #footer .inner .inner_t .info_middle .bt_tel span {
    font-size: clamp(18px, 3.75vw, 20px); /* 480px */
  }
  /* 오른쪽 퀵바 */
  #right_quick {
    right: 15px;
    height: 200px;
  }
  #right_quick > div:first-child a {
    width: 40px;
    height: 40px;
  }
  #right_quick > div .kakao-chat__btn {
    display: flex;
    position: relative;
    height: 50px;
    width: 50px;
  }
  #right_quick > div .kakao-chat__btn::before {
    display: flex;
    position: absolute;
    align-items: center;
    top: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    width: 0px;
    height: 0px;
    font-size: 0px;
    text-indent: 0px;
    opacity: 0;
    transition: 0.3s;
  }
  #right_quick > div .kakao-chat__btn:hover::before {
    font-weight: var(--font-weight-Bold);
    width: 100px;
    height: 40px;
    border-radius: 20px;
    font-size: 14px;
    text-indent: 16px;
    top: 50%;
    right: 6px;
    transform: translate(00%, -50%);
    color: var(--grayScale-N1);
    background-color: var(--grayScale-W);
    box-shadow: var(--quick-icon-shadow);
    opacity: 1;
  }
  #right_quick > div:first-child img {
    width: 20px;
  }
  #right_quick > div img {
    width: 50px;
  }
}

/********************* Tablet *********************/
@media all and (min-width: 768px) and (max-width: 1024px) {
  /* responsive class */
  .RMB {
    display: none !important;
  }
  .RMI {
    display: none !important;
  }
  .RTB {
    display: block !important;
  }
}
@media (max-width: 678px) {
  #footer .inner_b .bt_util {
    width: 100%;
  }
  #footer .inner .inner_t .info_middle .bt_info,
  #footer .inner .inner_t .info_middle .wrap_cs {
    width: 100%;
    margin-bottom: 25px;
  }
  #footer .inner .wrap_cs .cs_center_txt,
  #footer .inner .wrap_cs .bank_txt {
    margin-bottom: 0;
    width: 50%;
  }

  #footer .info_middle .wrap_cs {
    flex-flow: row nowrap;
    justify-content: flex-start;
    width: 100%;
  }

  #footer .inner .inner_t .info_middle .bt_tel span {
    margin-bottom: 3px;
  }

  #footer .inner .inner_b {
    flex-flow: column-reverse;
    margin-bottom: 12%;
  }
  #footer .inner_b .bt_util ul {
    justify-content: space-around;
  }
}
@media (max-width: 480px) {
  .review-box .review-list > li {
    width: 100%;
  }
  .review-box .review-list > li,
  .review-box .review-list > li:nth-of-type(2n),
  .review-box .review-list > li:nth-of-type(3n),
  .review-box .review-list > li:nth-of-type(4n),
  .review-box .review-list > li:nth-of-type(5n) {
    margin-right: 0;
  }
  .review-box .review-list > li .review-img img {
    height: 100%;
  }
  .review-box .review-list > li .review-txt {
    height: calc(100% * 0.32);
  }
  #footer .info_top {
    margin: 0;
    flex-flow: column-reverse;
  }
  #footer .inner .inner_t .info_top .bt_logo {
    margin: 7% 0;
  }
  #footer .info_top .sns_icon {
    justify-content: space-around;
    width: 100%;
    padding: 5% 0;
  }
  #footer .info_top .sns_icon a {
    margin-right: 0;
  }
  #footer .info_top .sns_icon a img {
    width: clamp(24px, 6.667vw, 30px);
    height: clamp(24px, 6.667vw, 30px);
  }
  #footer .inner .inner_b {
    margin-bottom: 15%;
  }
}
/********************* PC *********************/
@media all and (min-width: 1025px) {
  /* responsive class */
  #footer .inner {
    padding: 1% 0;
  }
  .RMB {
    display: none !important;
  }
  .RMI {
    display: none !important;
  }
  .RTB {
    display: none !important;
  }
  .RTMI {
    display: none !important;
  }
  .RTMB {
    display: none !important;
  }
}

/********************* PC *********************/
@media all and (max-width: 1553px) {
  #quick {
    display: none;
  }
}

.dimmed {
  display: none;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
#modalBackpanel {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  height: 100%;
  background: var(--grayScale-N1);
}
#modalContainer {
  display: none;
  position: absolute;
  top: 100px;
  left: 100px;
  z-index: 10001;
  width: 975px;
  height: 720px;
  border: 1px solid var(--grayScale-N2);
  background: var(--grayScale-W);
}
#modalContainer #modalContent {
  width: 100%;
  height: 100%;
}
