/** form_onetouch_style **/
@import url(/layout/basic/css/rootStyle.css);
/* 원터치 주문서 셀렉트박스 화살표 삭제 ie11 - 정환 */
select::-ms-expand {
  display: none;
}
#userStyle #header .titleArea h1 {
  background-color: var(--grayScale-N1);
}
#userStyle #mCafe24Order .txtEm,
#userStyle #mCafe24Order .txtStrong {
  color: var(--grayScale-N1);
}
#userStyle #mCafe24Order .btnSubmit {
  background-color: var(--grayScale-N1);
}
#orderFixItem.ec-base-button.gFull [class*='btn'] {
  background-color: #3971ff !important;
}
