/* Common */
.xans-board-title p.imgArea {
  text-align: center;
  padding: 0 16px;
}
.xans-board-title p.imgArea img {
  max-width: 100%;
  margin: 0 0 20px;
}

/* ec-base-tab (Gallery) */
.xans-board-listheader-8.ec-base-tab {
  margin: 0;
}
.xans-board-listheader-8.ec-base-tab ul {
  overflow: hidden;
}
.xans-board-listheader-8.ec-base-tab ul li {
  width: 50%;
  float: left;
  text-align: center;
}
.xans-board-listheader-8.ec-base-tab li a {
  display: block;
  font-size: 14px;
  color: var(--grayScale-N2);
  border-bottom: 1px solid var(--pallet-color-5);
  padding: 20px 15px;
}
.xans-board-listheader-8.ec-base-tab li a svg.icon {
  display: inline-block;
  margin-right: 4px;
}
.xans-board-listheader-8.ec-base-tab li.selected a {
  color: var(--grayScale-N1) 000;
  border-bottom: 1px solid var(--grayScale-N1) 000;
}

/* ec-base-tab (Common) */
.xans-board-listpackage .ec-base-tab.typeMenu .button {
  margin: 0;
  padding: 0;
}
.xans-board-listpackage .ec-base-tab.typeMenu .button:hover {
  position: relative;
  color: var(--grayScale-N1);
}
.xans-board-listpackage .ec-base-tab.typeMenu .button:hover:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--grayScale-N1);
}

/* Title */
.xans-board-listpackage .titleArea p {
  max-width: 586px;
  /* margin: 25px auto 0; */
  margin: 0 auto;
  font-size: 16px;
  color: var(--grayScale-N2);
}
/* Table */
.xans-board-listpackage {
  margin: 0 0 10px;
}
.xans-board-listpackage .ec-base-table {
  clear: both;
}
.xans-board-listpackage .ec-base-table table td.no {
  color: var(--grayScale-N2);
}
.xans-board-listpackage .ec-base-table table th.chk,
.xans-board-listpackage .ec-base-table table td.chk {
  overflow: hidden;
}
.xans-board-listpackage .ec-base-table table td.chk .ec-common-rwd-image {
  margin: 3px 0 0;
}
.xans-board-listpackage .ec-base-table table td.subject .product {
  margin: 0 10px 5px 0;
  line-height: 18px;
  color: var(--grayScale-N2);
}
.xans-board-listpackage .ec-base-table table td.subject .product:empty {
  margin-bottom: 0;
}
.xans-board-listpackage .ec-base-table table td.subject a {
  margin-right: 5px;
  vertical-align: middle;
  font-size: 14px;
  color: var(--grayScale-N1);
}
.xans-board-listpackage .ec-base-table table td.subject img {
  width: auto;
  height: 21px;
  margin: 0px 5px 1px 0;
  vertical-align: middle;
}
.xans-board-listpackage .ec-base-table table td.subject .badge img {
  height: auto;
}
.xans-board-listpackage .ec-base-table table td.thumb a {
  display: inline-block;
  overflow: hidden;
}
.xans-board-listpackage .ec-base-table table td.thumb span {
  float: left;
  width: 80px;
  padding: 0 0 0 8px;
  text-align: left;
}
.xans-board-listpackage .ec-base-table table td .comment {
  display: inline-block;
  margin: 0 5px 0 0;
  vertical-align: middle;
  color: #ef441f;
  font-weight: normal;
}
.xans-board-listpackage .ec-base-table table td .comment:empty {
  margin: 0;
}
/* FAQ 페이지 전용 ---------------------------------------------------------------------- */
.faq-table thead tr th:first-of-type {
  padding: unset !important;
}
.faq-item {
  border-bottom: 1px solid var(--grayScale-N3);
  font-size: clamp(12px, 3.333vw, 14px);
}
.faq-item .faq-item__title {
  display: flex;
  flex-flow: nowrap;
  color: var(--grayScale-N1);
}
.faq-item .faq-item__title .faq-title__type {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
}
.faq-item .faq-item__title .faq-title__question {
  display: flex;
  align-items: center;
  width: 90%;
}
.faq-item .faq-item__answer {
  display: none;
  font-weight: var(--font-weight-Medium);
  color: var(--grayScale-N1-opa);
}
.faq-item .faq-item__answer.active {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  height: unset;
}
.faq-item .faq-item__answer .answer-space {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  padding: 1% 5% 2% 10%;
  box-sizing: border-box;
}
.faq-item .faq-item__answer .answer-space > span {
  margin-bottom: 2%;
}
.faq-item .faq-item__answer .answer-space .artwork-type {
  display: block;
}
.faq-item .faq-item__answer .answer-space .accent {
  font-weight: var(--font-weight-SemiBold);
  text-decoration: underline;
}
.faq-item__title {
  cursor: pointer;
  width: 100%;
  height: 45px;
  font-weight: var(--font-weight-Medium);
  position: relative;
  box-sizing: border-box;
}

.faq-item__title:after {
  content: '';
  display: inline-block;
  width: 36px;
  height: 30px;
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translateY(-50%) rotate(180deg);
  background: url(/SkinImg/img/expand_more_FILL0_wght400_GRAD0_opsz24.svg) no-repeat center center / contain;
  transition: 0.35s;
}

.faq-item__title.active:after {
  transform: translateY(-50%) rotate(0deg);
}

/* ---------------------------------------------------------------------- FAQ 페이지 전용 */
/********************* Mobile / Tablet *********************/
@media all and (max-width: 1024px) {
  .xans-board-listpackage .ec-base-button.gBottom {
    margin: 20px 16px 0;
  }

  /* Table - typeList */
  .xans-board-listpackage .ec-base-table.typeList table td.subject .badge {
    display: inline-block;
  }

  /* ec-base-tab (Common) */
  .xans-board-listpackage .ec-base-tab.typeMenu {
    margin: 0;
    padding: 0 2px;
    border-bottom: 1px solid var(--pallet-color-5);
  }
  .xans-board-listpackage .ec-base-tab.typeMenu .button {
    margin: 0;
    padding: 0 13px 20px;
  }
  .xans-board-listpackage .ec-base-tab.gScroll::-webkit-scrollbar {
    display: none;
  }
  .xans-board-listpackage .ec-base-tab.gScroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .xans-board-listpackage .boardSort {
    display: none;
  }
}

/********************* PC *********************/
@media all and (min-width: 1025px) {
  /* Table - typeList */
  .xans-board-listpackage .ec-base-table.typeList table td.thumb img {
    width: 46px;
  }
  .xans-board-listpackage .ec-base-table.typeList table td.chk {
    overflow: hidden;
  }
  .xans-board-listpackage .ec-base-table.typeList table td.chk .boardChk,
  .xans-board-listpackage .ec-base-table.typeList table th.chk .boardListAll {
    float: left;
    margin: 2px 5px 0 0;
  }
  .xans-board-listpackage .ec-base-table.typeList table td.chk img {
    margin-top: 4px;
  }
  .xans-board-listpackage .ec-base-table.typeList table td.subject .badge {
    display: none;
  }

  /* ec-base-tab (Gallery) */
  .xans-board-listheader-8.ec-base-tab {
    margin: 0;
    float: right;
  }
  .xans-board-listheader-8.ec-base-tab ul li {
    width: auto;
  }
  .xans-board-listheader-8.ec-base-tab li a {
    padding: 16px 2px 3px;
    white-space: nowrap;
    border-bottom: 0;
  }
  .xans-board-listheader-8.ec-base-tab li + li {
    margin: 0 0 0 50px;
  }

  .xans-board-listpackage .ec-base-tab.typeMenu {
    margin: 0 0 50px;
  }
  .xans-board-listpackage .ec-base-tab.typeMenu .button {
    margin: 0 22px;
    padding: 0 0 3px 0;
  }

  .xans-board-listpackage .boardSort {
    margin: 0 0 20px;
  }
  .xans-board-listpackage .boardSort select {
    min-width: 152px;
    margin: 0 6px 0 0;
  }

  .xans-board-buttonlist.ec-base-button .btnSubmitFix {
    float: right;
    width: 135px;
  }
  .xans-board-buttonlist.ec-base-button.gBottom {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .faq-item .faq-item__title .faq-title__type {
    width: 20%;
  }
  .faq-item .faq-item__title .faq-title__question {
    width: 80%;
  }

  .faq-item .faq-item__answer .answer-space {
    padding: 1% 10% 2% 20%;
  }
}
