.xans-board-movement {
  margin: 20px 0;
}
.xans-board-movement li {
  overflow: hidden;
  padding: 0 20px 0 0;
  border-bottom: 1px solid var(--pallet-color-5);
  line-height: 140%;
  color: var(--grayScale-N2);
}
.xans-board-movement li > strong,
.xans-board-movement li > a {
  display: flex;
  flex-flow: row wrap;
  padding: 20px 0;
}
.xans-board-movement li > a > strong {
  margin-right: 10px;
}
.xans-board-movement li > strong {
  width: 80px;
}
.xans-board-movement li > strong i {
  margin-left: 10px;
  margin-bottom: -3px;
}
.xans-board-movement li.next {
  border: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.xans-board-movement li.next strong i {
  margin-bottom: 3px;
}

/********************* Mobile / Tablet *********************/
@media all and (max-width: 1024px) {
  .xans-board-movement li {
    padding: 0 16px;
  }
  .xans-board-listsgroup h4 {
    margin: 0;
    padding: 26px 16px 20px;
    background: var(--pallet-color-5);
  }
}

/********************* PC *********************/
@media all and (min-width: 1025px) {
  .xans-board-listsgroup h4 {
    margin: 0 0 20px 0;
  }
}
