.xans-board-title p.imgArea {
  margin: 0 0 20px;
}

.ec-base-box + #BoardDelForm .ec-base-table {
  border-top: 0;
}
.xans-board-read .ec-base-table .head {
  padding: 30px 0;
  border-bottom: 1px solid #eaeaea;
}

.xans-board-read .ec-base-table .head.display-info-head .description {
  justify-content: flex-end;
  margin: 0;
}
.xans-board-read .ec-base-table .head.display-info-head .description .name {
  display: none;
}
.xans-board-read .ec-base-table .head h3 {
  display: flex;
  flex-flow: row wrap;
  font-size: 24px;
  font-weight: normal;
}
.xans-board-read .ec-base-table .head h3 > .xans-board-read .ec-base-table .head h3 > span:nth-of-type(2) {
  /* 전시회 기간 */
  display: inline-block;
  font-size: 0.8em;
  width: 100%;
  color: var(--main-color);
  margin: 0.5% 0%;
}
.xans-board-read .ec-base-table .head h3 > strong {
  padding: 0.5%;
  width: 100%;
  box-sizing: border-box;
}
.xans-board-read .ec-base-table .head h3 > span {
  font-size: 18px;
  padding: 0.5%;
  box-sizing: border-box;
}
.xans-board-read .ec-base-table .head h3 > span:nth-of-type(1) {
  width: 100%;
  box-sizing: border-box;
  color: var(--main-color);
}
.xans-board-read .ec-base-table .head h3 > span:nth-of-type(2) {
  /* 전시회 장소 */
  font-size: 16px;
  width: 50%;
  box-sizing: border-box;
}
.xans-board-read .ec-base-table .head h3 > span:nth-of-type(3) {
  /* 전시회 위치 */
  font-size: 16px;
  text-align: right;
  width: 50%;
  box-sizing: border-box;
}
.xans-board-read .ec-base-table .description {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin: 15px 0 0;
}
.xans-board-read .ec-base-table .description .name {
  display: inline-block;
  margin-right: 8px;
}
.xans-board-read .ec-base-table .description .name a {
  font-size: 16px;
}
.xans-board-read .ec-base-table .etcArea {
  display: inline-block;
}
.xans-board-read .ec-base-table .etcArea li {
  display: inline-block;
  padding: 0 8px;
  vertical-align: middle;
  color: var(--grayScale-N3);
}
.xans-board-read .ec-base-table .etcArea li span {
  font-size: 14px;
}
.xans-board-read .ec-base-table .etcArea li a {
  text-decoration: none;
}
.xans-board-read .ec-base-table .etcArea .txtNum {
  font-size: 16px;
  color: var(--grayScale-N3);
}
.xans-board-read .ec-base-table .detail {
  padding: 30px 20px;
  word-break: break-all;
  line-height: normal;
}
.xans-board-read .ec-base-table .detail ol,
.xans-board-read .ec-base-table .detail ul {
  margin: 15px 0;
  padding: 0 0 0 40px;
}
.xans-board-read .ec-base-table .detail ol li {
  list-style: decimal;
}
.xans-board-read .ec-base-table .detail ul li {
  list-style: disc;
}
.xans-board-read .ec-base-table .detail img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
/* 작가 소개 커스터마이징 ---------------------------------------------------------------------------------------------------- */
.detail.read-artist .hidden {
  display: none;
}
.detail.read-artist .fr-view.fr-view-article p:not(.read-artist__title) {
  line-height: 1.6;
}
.detail.read-artist .fr-view.fr-view-article p:not(.read-artist__title),
.detail.read-artist .fr-view.fr-view-article p:not(.read-artist__title) span {
  font-family: 'Montserrat', 'Noto Sans KR', Arial, sans-serif !important;
  font-size: 16px !important;
  color: var(--grayScale-N1);
}
.detail.read-artist {
}
.read-artist__title {
  display: flex;
  flex-flow: column;
  margin: 1% 0 2%;
}
.read-artist__title strong {
  font-size: 24px;
}
.read-artist__title span {
  font-size: 18px;
  font-weight: var(--font-weight-Medium);
  color: var(--main-color);
}
.detail.read-artist > img {
  margin: unset !important;
  width: 360px;
  border-radius: 10%;
}
.read-artist__slide-box {
  position: relative;
  width: 100%;
  height: 360px;
  margin: 60px 0;
  overflow: hidden;
}
.read-artist__slide-box .read-artist__slide-wrap {
  position: relative;
  width: 100%;
  height: inherit;
  margin: 0 auto !important;
  padding: 0 !important;
  /* overflow-x: scroll; */
  overflow: hidden;
}
.read-artist__slide-wrap::-webkit-scrollbar {
  display: none;
}
.read-artist__slide-wrap::-webkit-scrollbar-button {
  display: none;
}
.read-artist__slide-wrap::-webkit-scrollbar-thumb {
  display: none;
}
.read-artist__slide-list {
  display: flex;
  flex-flow: row nowrap;
  /* position: absolute; */
  width: fit-content !important;
  height: inherit;
  margin: unset !important;
  padding: unset !important;
}
.read-artist__slide-list li {
  width: 25%;
  margin-right: 10px;
  box-sizing: border-box;
  overflow: hidden;
}
.read-artist__slide-list li:last-of-type {
  margin-right: 0;
}

.read-artist__slide-list li img {
  max-width: unset !important;
  height: 100%;
}
.xans-board-read .ec-base-table .detail.read-artist ul {
  padding: unset !important;
}
/* ---------------------------------------------------------------------------------------------------- 작가 소개 커스터마이징 */
.xans-board-read .ec-base-table .attach {
  position: relative;
  padding: 20px 0;
  margin: 0 20px;
  text-align: right;
}
.xans-board-read .ec-base-table .attach a {
  padding: 0 0 0 12px;
  color: var(--grayScale-N3);
}
.xans-board-read .ec-base-table .attach a:hover {
  text-decoration: underline;
}
.xans-board-read .ec-base-table .attach a:first-child {
  padding-left: 20px;
  background: url('//img.echosting.cafe24.com/skin/skin/board/icon-file.svg') no-repeat 0 0;
  background-size: 14px auto;
}

.xans-board-product .ec-base-box.typeProduct {
  margin: 0 0 40px;
}
.xans-board-product .information h3 {
  margin: 0 0 2px;
  padding: 0 120px 0 0;
  font-size: 14px;
}
.xans-board-product #sPrdCommonImg {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  text-align: right;
}
.xans-board-product .information .button {
  margin: 15px 0 0;
}

/********************* Mobile / Tablet *********************/
@media all and (max-width: 1024px) {
  .xans-board-read .ec-base-table .head {
    padding: 20px 16px;
  }
  .xans-board-read .ec-base-table .attach {
    margin: 0 16px;
  }
}
