.xans-board-title p.imgArea {
  margin: 0 0 20px;
}

.ec-base-box + #BoardDelForm .ec-base-table {
  border-top: 0;
}
.xans-board-read .ec-base-table .head {
  padding: 30px 0;
  border-bottom: 1px solid var(--main-color-op);
}

.xans-board-read .ec-base-table .head.display-info-head .description {
  justify-content: flex-end;
  margin: 0;
}
.xans-board-read .ec-base-table .head.display-info-head .description .name {
  display: none;
}
.xans-board-read .ec-base-table .head h3 {
  display: flex;
  flex-flow: row wrap;
  font-size: 24px;
  font-weight: normal;
}
.xans-board-read .ec-base-table .head h3 > .xans-board-read .ec-base-table .head h3 > span:nth-of-type(2) {
  /* 전시회 기간 */
  display: inline-block;
  font-size: 0.8em;
  width: 100%;
  color: var(--main-color);
  margin: 0.5% 0%;
}
.xans-board-read .ec-base-table .head h3 > strong {
  width: 100%;
  box-sizing: border-box;
}
.xans-board-read .ec-base-table .head h3 > span {
  font-size: 18px;
  padding: 0.5%;
  box-sizing: border-box;
}
.xans-board-read .ec-base-table .head h3 > span:nth-of-type(1) {
  width: 100%;
  box-sizing: border-box;
  color: var(--main-color);
}
.xans-board-read .ec-base-table .head h3 > span:nth-of-type(2) {
  /* 전시회 장소 */
  font-size: 16px;
  width: 50%;
  box-sizing: border-box;
}
.xans-board-read .ec-base-table .head h3 > span:nth-of-type(3) {
  /* 전시회 위치 */
  font-size: 16px;
  text-align: right;
  width: 50%;
  box-sizing: border-box;
}
.xans-board-read .ec-base-table .description {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin: 15px 0 0;
}
.xans-board-read .ec-base-table .description .name {
  display: inline-block;
  margin-right: 8px;
}
.xans-board-read .ec-base-table .description .name a {
  font-size: 16px;
}
.xans-board-read .ec-base-table .etcArea {
  display: inline-block;
}
.xans-board-read .ec-base-table .etcArea li {
  display: inline-block;
  padding: 0 8px;
  vertical-align: middle;
  color: var(--grayScale-N3);
}
.xans-board-read .ec-base-table .etcArea li span {
  font-size: 14px;
}
.xans-board-read .ec-base-table .etcArea li a {
  text-decoration: none;
}
.xans-board-read .ec-base-table .etcArea .txtNum {
  font-size: 16px;
  color: var(--grayScale-N3);
}
.xans-board-read .ec-base-table .detail {
  padding: 30px 20px;
  word-break: break-all;
  line-height: normal;
}
.xans-board-read .ec-base-table .detail ol,
.xans-board-read .ec-base-table .detail ul {
  margin: 15px 0;
  padding: 0 0 0 40px;
}
.xans-board-read .ec-base-table .detail ol li {
  list-style: decimal;
}
.xans-board-read .ec-base-table .detail ul li {
  list-style: disc;
}
.xans-board-read .ec-base-table .detail img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
/* 컬렉터 스토리 커스터마이징 ---------------------------------------------------------------------------------------------------- */
.story-video {
  max-width: 100%;
}
.story-slide__section {
  position: relative;
}
.story-slide__list {
  padding: unset !important;
}
.story-slide__list > li {
  width: 100% !important;
}
.story-txt__box {
  margin: 5% auto;
}
.story-slide__section {
  position: relative;
}
.story-slide__info {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 10;
  background: var(--grayScale-N1-opa);
  cursor: pointer;
}
.story-slide__info.hidden {
  display: none;
}
.story-slide__info .material-symbols-outlined {
  font-size: 72px;
  color: var(--grayScale-N5);
  animation: shake 2s ease-in-out both infinite;
}
.story-txt {
  font-family: 'Pretendard';
  font-weight: var(--font-weight-Medium);
  font-size: 24px;
  text-align: center;
  line-height: 1.6;
}
.story-artwork__box {
  margin: 3% 0;
}
.story-artwork__box > .story-txt {
  font-family: 'Monserrat';
}
.story-artwork__box > .story-txt:first-of-type {
  font-size: 36px;
  font-weight: var(--font-weight-SemiBold);
}
.story-artwork__box > .story-txt:last-child {
  color: var(--main-color);
}
@keyframes shake {
  0% {
    transform: translateY(-50%) rotateZ(-45deg);
  }
  50% {
    transform: translateY(-50%) rotateZ(45deg);
  }
  100% {
    transform: translateY(-50%) rotateZ(-45deg);
  }
}
/* ---------------------------------------------------------------------------------------------------- 컬렉터 스토리 커스터마이징 */
/* 작가 소개 커스터마이징 ---------------------------------------------------------------------------------------------------- */
.read-artist__slide__section {
  margin: 8% auto;
}
.detail.read-artist {
  padding: unset !important;
}
.detail.read-artist .hidden {
  display: none;
}
.detail.read-artist .fr-view.fr-view-article p:not(.read-artist__title) {
  line-height: 1.6;
}
.detail.read-artist .fr-view.fr-view-article p:not(.read-artist__title),
.detail.read-artist .fr-view.fr-view-article p:not(.read-artist__title) span {
  font-family: 'Montserrat', 'Noto Sans KR', Arial, sans-serif !important;
  font-size: 16px !important;
  color: var(--grayScale-N1);
}

.read-artist__title {
  display: flex;
  flex-flow: column;
  margin: 1% 0 2%;
}
.read-artist__title strong {
  font-size: 24px;
}
.read-artist__title span {
  font-size: 18px;
  font-weight: var(--font-weight-Medium);
  color: var(--main-color);
}
.detail.read-artist > img {
  margin: unset !important;
  width: 360px;
  border-radius: 10%;
}
.read-artist__slide__section {
  position: relative;
  display: flex;
  flex-flow: column;
}
.read-artist__slide-box {
  position: relative;
  width: 100%;
  margin: 0 auto !important;
  padding: 0 !important;
  overflow-x: scroll;
  overflow-y: hidden;
  box-sizing: border-box;
}
.read-artist__slide-list {
  display: flex;
  position: absolute;
  bottom: 0;
  flex-flow: row nowrap;
  align-items: end;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
  width: fit-content !important;
  height: inherit;
  margin: unset !important;
  padding: unset !important;
}
.detail.read-artist .relation .relation_slide {
  overflow-x: scroll;
}
.detail.read-artist .relation .relation_slide::-webkit-scrollbar,
.read-artist__slide-box::-webkit-scrollbar {
  display: none;
}
.detail.read-artist .relation .relation_slide::-webkit-scrollbar-button,
.read-artist__slide-box::-webkit-scrollbar-button {
  display: none;
}
.detail.read-artist .relation .relation_slide::-webkit-scrollbar-thumb,
.read-artist__slide-box::-webkit-scrollbar-thumb {
  display: none;
}
.read-artist__slide-list li img {
  width: var(--item-row-3-width-pc-max1480);
  max-width: unset !important;
}
.xans-board-read .ec-base-table .detail.read-artist ul {
  padding: unset !important;
}
.detail.read-artist .relation .relation_title {
  padding: unset !important;
}
.relative-artwork__box {
  display: flex;
  flex-flow: column;
  width: 100%;
}
.relative-artwork__list {
  display: flex;
  flex-flow: row wrap;
}
.artist_relation_artworks {
  font-size: 24px;
  font-weight: var(--font-weight-SemiBold);
  line-height: 1;
  color: var(--grayScale-N1);
}
.relative-artwork__list .relative-artwork__item {
  width: var(--item-row-5-width-pc-max1480) !important;
  margin-right: var(--item-margin-right-pc);
  margin-bottom: 40px;
  height: unset !important;
  list-style: none;
}
.relative-artwork__list .relative-artwork__item::marker {
  content: '';
  display: none;
}
.relative-artwork__list .relative-artwork__item .thumbnail {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--item-row-5-width-pc-max1480);
  height: var(--item-row-5-width-pc-max1480);
  background-color: var(--grayScale-N5);
  border-radius: 10px;
  overflow: hidden;
}
.relative-artwork__list .relative-artwork__item .thumbnail > img {
  max-width: 80%;
  transition: 0.2s;
}
.relative-artwork__list .relative-artwork__item .thumbnail:hover > img {
  max-width: 85%;
}
.relative-artwork__item .prdList__item .description {
  display: flex;
  flex-flow: column;
}
.relative-artwork__item .prdList__item .description .name {
  display: flex;
  flex-flow: column;
  font-size: 16px;
  color: var(--grayScale-N2);
  font-weight: var(--font-weight-SemiBold);
}
.relative-artwork__item .prdList__item .description .price {
  display: flex;
  flex-flow: column;
  font-size: 14px;
  color: var(--main-color);
  font-weight: var(--font-weight-Medium);
}
@media (max-width: calc(1480px / 9 * 10)) {
  .read-artist__slide-box {
    height: var(--item-row-34-3-height-pc);
  }
  .read-artist__slide-list li img {
    width: var(--item-row-3-width-pc) !important;
  }
  .relative-artwork__list .relative-artwork__item {
    width: var(--item-row-4-width-pc) !important;
    margin-right: var(--item-margin-right-pc);
    margin-bottom: 40px;
  }
  .relative-artwork__list .relative-artwork__item .thumbnail {
    width: var(--item-row-4-width-pc);
    height: var(--item-row-4-width-pc);
  }
}

@media (max-width: 1280px) {
  .story-txt {
    font-size: clamp(18px, 1.758vw, 24px);
  }
  .story-artwork__box > .story-txt:first-of-type {
    font-size: clamp(24px, 2.344vw, 36px);
  }
  .read-artist__slide-box {
    height: var(--item-row-34-2-height-portable);
  }
  .read-artist__slide-list li {
    margin-right: var(--item-margin-right-portable);
  }
  .read-artist__slide-list li img {
    width: var(--item-row-2-width-portable) !important;
  }
}

@media (max-width: 1024px) {
  .story-txt {
    font-size: clamp(16px, 2.086vw, 18px);
  }
  .story-artwork__box > .story-txt:first-of-type {
    font-size: clamp(20px, 2.608vw, 24px);
  }
  .read-artist__slide-box {
    height: var(--item-row-34-2-height-portable);
  }

  .artist_relation_artworks {
    padding: 50px 0 5px;
    font-size: var(--font-size-medium);
  }
  .read-artist__slide-list li {
    margin-right: var(--item-margin-right-portable);
  }
  .read-artist__slide-list li img {
    width: var(--item-row-2-width-portable) !important;
  }
  .relative-artwork__list .relative-artwork__item {
    width: var(--item-row-3-width-portable) !important;
    margin-right: var(--item-margin-right-portable);
    margin-bottom: 20px;
  }
  .relative-artwork__list .relative-artwork__item:nth-of-type(3n) {
    margin-right: 0;
  }
  .relative-artwork__list .relative-artwork__item .thumbnail {
    width: var(--item-row-3-width-portable);
    height: var(--item-row-3-width-portable);
  }
}
@media (max-width: 767px) {
  .story-txt {
    font-size: clamp(12px, 2.5vw, 16px);
  }
  .story-artwork__box > .story-txt:first-of-type {
    font-size: clamp(16px, 3.333vw, 20px);
  }
  .read-artist__title strong {
    font-size: var(--font-size-medium);
  }
  .read-artist__title span {
    font-size: clamp(16px, 3.333vw, 18px);
  }
  .read-artist__title {
    margin: 2% 0 3%;
  }
  .detail.read-artist .fr-view.fr-view-article p:not(.read-artist__title),
  .detail.read-artist .fr-view.fr-view-article p:not(.read-artist__title) span {
    font-size: clamp(14px, 2.917vw, 16px) !important;
  }
  .read-artist__slide-box {
    height: var(--item-row-34-1-height-portable);
  }

  .read-artist__slide-list li img {
    width: var(--item-row-1-width-portable) !important;
  }
  .relative-artwork__list .relative-artwork__item {
    width: var(--item-row-2-width-portable) !important;
    margin-right: var(--item-margin-right-portable);
    margin-bottom: 20px;
  }
  .relative-artwork__list .relative-artwork__item:nth-of-type(3n) {
    margin-right: var(--item-margin-right-portable);
  }
  .relative-artwork__list .relative-artwork__item:nth-of-type(2n) {
    margin-right: 0;
  }
  .relative-artwork__list .relative-artwork__item .thumbnail {
    width: var(--item-row-2-width-portable);
    height: var(--item-row-2-width-portable);
  }
}
@media (max-width: 480px) {
  .story-txt {
    font-size: clamp(11px, 3.056vw, 12px);
  }
  .story-artwork__box > .story-txt:first-of-type {
    font-size: clamp(14px, 3.889vw, 16px);
  }
  .detail.read-artist > img {
    margin: 0 auto !important;
  }
  .relative-artwork__list .relative-artwork__item {
    width: var(--item-row-1-width-portable) !important;
    margin-right: 0;
    margin-bottom: 40px;
  }
  .relative-artwork__list .relative-artwork__item:nth-of-type(3n) {
    margin-right: 0;
  }
  .relative-artwork__list .relative-artwork__item:nth-of-type(2n) {
    margin-right: 0;
  }
  .relative-artwork__list .relative-artwork__item .thumbnail {
    width: var(--item-row-1-width-portable);
    height: var(--item-row-1-width-portable);
  }
}
/* ---------------------------------------------------------------------------------------------------- 작가 소개 커스터마이징 */
.xans-board-read .ec-base-table .attach {
  position: relative;
  padding: 20px 0;
  margin: 0 20px;
  text-align: right;
}
.xans-board-read .ec-base-table .attach a {
  padding: 0 0 0 12px;
  color: var(--grayScale-N3);
}
.xans-board-read .ec-base-table .attach a:hover {
  text-decoration: underline;
}
.xans-board-read .ec-base-table .attach a:first-child {
  padding-left: 20px;
  background: url('//img.echosting.cafe24.com/skin/skin/board/icon-file.svg') no-repeat 0 0;
  background-size: 14px auto;
}

.xans-board-product .ec-base-box.typeProduct {
  margin: 0 0 40px;
}
.xans-board-product .information h3 {
  margin: 0 0 2px;
  padding: 0 120px 0 0;
  font-size: 14px;
}
.xans-board-product #sPrdCommonImg {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  text-align: right;
}
.xans-board-product .information .button {
  margin: 15px 0 0;
}

/********************* Mobile / Tablet *********************/
@media all and (max-width: 1024px) {
  .xans-board-read .ec-base-table .head {
    padding: 20px 16px;
  }
  .xans-board-read .ec-base-table .attach {
    margin: 0 16px;
  }
}
